[2012-06-07 01:59] lgatto opened #1 "synapter performance evaluation"
Add function which shows
-  the number of EMRTs assigned by Synapter
-  the number of peptides in MSE that passed the filtering stage
-  overlap between the two
-  the enrichment in number of quantitation peptides by Synapter:

by the following formula:   (1 - 2) / 2 \* 100

where "1" and "2" are from the list above

[2012-06-07 02:00] lgatto opened #2 "export Synapter notes log as a txt file"
I did not find this function in Synapter. It would be useful if all the lines in Synapter object, describing the operations performed so far, could be exported as a txt file by a single command.

[2012-06-07 02:01] lgatto opened #3 "Check license compatibilities"

[2012-06-07 02:01] lgatto opened #4 "export of MSE and HDMSE data before merging"
Since PLGS does not calculate PEP for peptides and produces lots of peptides that are unsuitable for quantitation, I think people that just run their instruments in MSE would be interested to use synapter filter functions.

Thus it would be beneficial to make a command that allows export of the filtered data.

[2012-06-07 02:01] lgatto opened #5 "no grid search results in synapter 0.4.6."
Just ran a grid search and got the following results back:

1 0.826 0.833 0.840 0.846

2 0.829 0.835 0.842 0.848

3 0.821 0.825 0.832 0.837

$prcntModel

7 8 9 10

1 0 0 0  0

2 0 0 0  0

3 0 0 0  0

When tried to set up the grid search results, it of course setup the first combination, since all of them appear equal

[2012-06-07 02:01] lgatto opened #6 "performanave function does not work"
When running synapter on object called cynapterRun, it returns the following message:

performance(synapterRun)

Error in nrow(xx$MergedFeatures) : object 'xx' not found

Also in the help the name of function is incorrect: it is preformance rather then performance

[2012-06-07 02:01] lgatto opened #7 "filtering non-unique peptides"
PLGS treats the problem of non-unique peptides in a very unstringent way, basically assigning all intensity to a single identified protein, or dividing the intensity between identified proteins.

It would be great if the non-specific peptides could be removed.

[2012-06-07 02:01] lgatto opened #8 "Grid search documentation"
Describe a general optimisation procedure using the grid search using real data, possibly in a separate vignette:
1. make a grid search over a large set of parameters, say nsds=1:5 and ppms=seq(5,20,3), using a subset of about 35%
2. Inspect grid results and repeat your search with a fine ppm scale and a larger (for example ppms = 6:12,  nsds = c(1:3),  subset = 0.5).
3. Inspect results paying att

[2012-06-07 02:01] lgatto opened #9 "Use grid details to set best parameters"

[2012-06-07 02:02] lgatto opened #10 "PLGS manual"
We will have to include in the synapter documentation how to use PLGS to produce valid csv files to be analysed with synapter. This will be at least partially covered in the paper, but should also be described in details in the package documentation.

[2012-06-07 02:02] lgatto opened #11 "performance"
This issue is not fixed in synapter_0.5.1.zip.

When returning performance the MSE peptides identified by database search, should go through the same filtering process as the HDMSE peptides. Currently protein fpr filter is not applied

(H) HDMSe: 6130 peptides.

(M) MSe:   4698 peptides.

should be

(H) HDMSe: 6130 peptides.

(M) MSe:   4435 peptides.

[2012-06-07 02:02] lgatto opened #12 "getGrid(xx) returns very low value for percent total"
Package version 0.5.1  returned very low values for percent total:

getGrid(xx)

$prcntTotal

[code]

1 0.152 0.147

2 0.145 0.141

$prcntModel

[code]

1 0.916 0.916

2 0.918 0.919

[2012-06-07 02:02] lgatto opened #13 "synapter vignette"
- overview
- wrapper function to run all the code
- example on how to combine experiments with MSnbase
- example on how to do statistical analyses and pointers to limma and other

[2012-06-07 02:02] lgatto opened #14 "bug MSE and HDMSE final_peptide files are swapped"
here is a part of Synapter report (version 0.5.3)

[17] "Set peptide score fdr to 0.01"

[18] "Filtered MSe peptide data on pep score with fdr 0.01 [6220,70]*"

[19] "Set peptide score fdr to 0.01"

[20] "Filtered HDMSe peptide data on pep score with fdr 0.01 [4698,68]*"

note the number of columns, it is usually 70 in HDMSE and 68 in MSE

[2012-06-07 02:02] lgatto opened #15 "performing grid search on a specified number of merged peptides"
At the moment user can choose to perform grid search
on a proportion of data to save time.

Since the proption of data results in a different number of peptides depending on dataset size, user should also be allowed to specify a number of peptides he wants to use in grid search. If the total number of peptides is bellow the number user specified, than all peptides from the merged dataset should be

[2012-06-07 02:02] lgatto opened #16 "making filtering on uniqueness optional"
Filtering on uniqueness should be a separate function from

Synapter ()

just like filtering on peptide fdr and protein fdr are:

filterMSePepScore(xx, fdr = 0.01)

filterHDMSeProtFpr(xx, fpr = 0.01)

this will allow user not to loose a lot of peptides if his database is highly redundant.

[2012-06-07 02:02] lgatto opened #17 "Revise peptide FDR filtering"
Peptide FDR filtering is done repeatedly; see if this could not be done on mf[HD]MSePeptideData and [HD]MSePeptideData once for all.

[2012-06-07 02:02] lgatto opened #18 "best parameters selection"
Allow to select best grid parameters using the highest (+1)/(+1 + -1) proportion of correct unique assignments.

[2012-06-07 02:02] lgatto opened #19 "Fixing LOESS span at 0.02 produces error in some datasets"
While analysing Nino's data (LOPIT dataset A fraction 10: 1211_BA10_HDMSe_2ul_IA_final_peptide.csv) LOESS  parameter was set to 0.02 and synapter came up with 25 warnings of the following format:

20: In simpleLoess(y, x, w, span, degree, parametric, drop.square,  ... : at  28.369

21: In simpleLoess(y, x, w, span, degree, parametric, drop.square,  ... :
  radius  0.34024

If span is made even low

[2012-06-07 02:02] lgatto opened #20 "making filter for uniqueness in the final_peptide file optional"
At the moment peptides that are listed more than once in the final_peptide file are removed by default from further analysis when files are read in by "synapter()" command

Some applications would require using non-unique peptides, e.g. working with protein families. It would be better if this filter was optional as well.

[2012-06-07 02:04] lgatto opened #21 "Peptide Score FDR adjustment"
**Issue** There are more peptides with q-value <- fdr than peptides with p-value <= fdr.

**Observations** This is not a bug in `synapter` or `qvalue`. Using `qvalue`'s test dataset, one can observe that q-values do not reach a maximum of 1, although the p-values do. In our case, the maximum q-values are tiny (compared to 1, at least).

When looking at the distribution of our p-values, we observe

[2012-06-07 02:04] lgatto opened #22 "Investigate effect of span/parameter selection/subset"
We have to understand what causes the greatest influence - different span parameters, different parameter selection, or just random subset effects.

[2012-06-07 02:04] lgatto opened #23 "merging uniqueness filters"
23/04/2012 attempted to run Synapter with Nino's LOPIMS data replica C. Performed two synapter runs. Used both types of filter (synapter  version 0.8.0)

During the first run used filters in this order:

1)filterUniqueDbPeptides(xx)

2)filterUniquePeptides(xx)

found that second filtering removed 41 additional peptides, all were present in the final_peptide.csv more than once. Upon close inspectio

[2012-06-07 02:04] lgatto opened #24 "bug in PLGS"
This issue is created for tracking only.

1) Checked whether a single EMRT can be identified as two different peptides. This is impossible since EMRT is supposed to be removed from database search once it is identified. Found a single occurrence in PLGS 2.4 on Ecoli test data 4 in MSE (MGIMDEERR, NMSTYVDYK both identified as pepFrag2 peptides from 12941 EMRT) . No such occurrences found on the dat

[2012-06-07 02:05] lgatto opened #25 "Synapter GUI grid search: change "to" to "by""
In Synapter GUI grid search there are three parameters:

1) from

2) to

3) to

parameter 3) should probably be "by"

[2012-06-07 02:05] lgatto opened #26 "GUI does not show up properly"
Sometimes when synapter GUI is initiated by
synapterGUI() command it is just a blank window with two buttons "run" and "close" active (screenshot attached). Yet in othercases under the same R and R-studio versions GUI is completely active as expected. As a result to run synapter through GUI user has to repeatedly open and close it until an active version of it is initiated

Also checked on Pavel's

[2012-06-07 02:05] lgatto opened #27 "Error when master file is aligned against the file that was used during master construction first"
Synapter can be used not only to transfer ids from HDMSE to MSE, but to transfer ids within mode as well (e.g. if you do not have IMS on the instrument).

If all the runs were performed in a single mode (e.g. MSE) several of the runs will be merged together into master. Then the master will be used to map the ids back on these as well as other runs within the analysis.

When master ids will be tra

[2012-06-07 02:05] lgatto opened #28 "Non proteoptypic peptides in complex proteomes"
At the moment there is a problem (in proteomics on the whole) of what to do with non-proteotypic peptides.

Removing them completely poses a significant problem with complex proteomes, since many proteins in complex proteomes have a very small number of proteotypic peptides, thus these proteins might not be identifiable.

This also creates a problem for attempts of absolute quantitation (e.g. top3

[2012-06-07 02:07] lgatto opened #29 "Proportional and determinstic masters"
Two methods to create master files were investigated. For both of them the following three HDMSE files were used:

[1] "C:/Users/CCPAdmin/Desktop/synapter adds ids/HDMSE final peptide/111111_50fmol_UPS1_in_Ecoli_04_IA_final_peptide.csv"

[2] "C:/Users/CCPAdmin/Desktop/synapter adds ids/HDMSE final peptide/131111_200fmol_UPS1_in_Ecoli_06_IA_final_peptide.csv"

[3] "C:/Users/CCPAdmin/Desktop/synapte

[2012-06-07 02:07] lgatto opened #30 "New filter on peptide length"
Small peptides (say < 7 aa) are most likely not unique and risk to be found as random entries. These could be systematically filtered out.

[2012-06-07 02:07] lgatto opened #31 "Use unique pep sequences for id stats calculation"
Although mentioned as implemented in v0.8.1, is does not seem that unique (as in R unique()) peptides are used when calculating identification p-values.

[2012-06-07 02:08] #1 closed, assigned to nobody

[2012-06-07 02:10] #3 closed, assigned to nobody

[2012-06-07 02:11] #4 closed, assigned to nobody

[2012-06-07 02:11] #5 closed, assigned to nobody

[2012-06-07 02:12] #6 closed, assigned to nobody

[2012-06-07 02:15] #7 closed, assigned to nobody

[2012-06-07 02:15] #8 closed, assigned to nobody

[2012-06-07 02:15] #9 closed, assigned to nobody

[2012-06-07 02:16] #10 closed, assigned to nobody

[2012-06-07 02:16] #11 closed, assigned to nobody

[2012-06-07 02:16] #12 closed, assigned to nobody

[2012-06-07 02:17] #13 closed, assigned to nobody

[2012-06-07 02:17] #14 closed, assigned to nobody

[2012-06-07 02:17] #15 closed, assigned to nobody

[2012-06-07 02:18] #29 closed, assigned to nobody

[2012-06-07 02:18] #25 closed, assigned to nobody

[2012-06-07 02:19] #27 closed, assigned to nobody

[2012-06-07 02:21] #22 closed, assigned to nobody

[2012-06-07 02:22] #2 closed, assigned to nobody

[2012-06-07 02:22] #16 closed, assigned to nobody

[2012-06-07 02:23] #17 closed, assigned to nobody

[2012-06-07 02:23] #18 closed, assigned to nobody

[2012-06-07 02:24] #19 closed, assigned to nobody

[2012-06-07 02:24] #20 closed, assigned to nobody

[2012-06-07 12:19] lgatto opened #32 "Update GUI screen shots"
MSe/HSMSe replaced by Quant/Ident

[2012-07-12 21:44] #24 closed, assigned to nobody

[2012-07-12 21:44] #23 closed, assigned to nobody

[2012-07-12 21:48] pavel-shliaha opened #33 "3D matching for HDMSE runs"
Since Waters are going to release their fix for HDMSE saturation problem (precursors acquired twice, once with and once without IMS) it would be very useful to use three dimensional matching in synapter (matching on m/z, ret time and mobility).

[2012-07-12 21:50] #32 closed, assigned to lgatto

[2012-07-12 21:51] pavel-shliaha opened #34 "Transfering ids, rather than adding ids while master construction"
At the moment when master is constructed we add peptide identifications to the run nominated to be the first and the retention time of peptide is simulated. The best thing would probably be to transfer identifications to this run (if corresponding EMRTs are present), and add only those identifications that do not have a corresponding EMRT in the first run.

[2012-07-12 21:53] #21 closed, assigned to nobody

[2012-07-12 21:54] pavel-shliaha opened #35 "Different retention time alignment methods."
As we have seen retention time alignment does not work very well when retention time in one run is compressed with respect to other run. We need to explore different retention time modeling algorithms which allow stretching and compressing retention time axis, e.g. dynamic time warping (package available in R).

[2012-07-15 19:26] lgatto opened #36 "Add quick-guide and summary function table in vignette"

[2012-07-18 10:52] #36 closed, assigned to lgatto

[2012-11-06 11:49] pavel-shliaha opened #37 "Adressing detector saturation in HDMSE by isotope correction"
Detector saturation can be corrected by simulating the counts of higher abundance isotopes (more prone to saturation) from lower abundance isotopes

[2012-11-12 11:29] pavel-shliaha opened #38 "Not transferring ids for identified peptides"
Currently peptide ids are transferred to QR from IR even if they were already present in QR. We need to change that if a peptide is already identified, do not transfer its identification from a different run.

[2013-01-21 21:04] pavel-shliaha opened #39 "Correct saturation by only quantifying on unsaturated isotopes in all samples under comparison"
The prototype of suggested function:

requantify <- function (synapterObj ,  satThreshold, minIsotopes)

synapterObj  - list of synapter objects
satThreshold - intensity over which accurate ion recording is not possible, due to saturation
minIsotopes  - minimum number of isotopes accepted for requantitation

For every peptide the function will find common unsaturated ions from supplied synapter ob

[2013-01-21 21:05] pavel-shliaha opened #40 "2DRP master"
Synapter needs a method to transfer ids from 2DRP runs.

Before the actual transfer synapter needs to tell the user how to mix fractions in order to achieve highest orthogonality between 1st and 2nd dimensions.

For example Pavel usually collects twenty 2min fractions from the first dimension, however running all 20 is unpractical, hence Pavel needs to mix some of the factions together. However he

[2013-03-21 12:37] pavel-shliaha opened #41 "missreporting number of non-proteotypic peptides"
When computing the number of non-proteotypic peptides each non-proteotypic peptide is reported the number it has been observed in the database. This results in artificially high number of non-proteotypic peptides, e.g. there are:

667636 unique peptides in A.thliana database, of which 60943 are seen more than once

synapter reports:

 606300 out of 1273312 tryptic peptides are unique.

Also can "u

[2013-03-21 12:45] pavel-shliaha opened #42 "checking correspondance between pep3D and final_peptide files"
It is possible that a user supplies pep3D file that does not correspond to final_peptide file. A simple test is suggested to check for this possibility: EMRTs are referenced by "spectrumID" in pep3D file and their intensity by "Counts" in pep3D file. EMRT identified as peptides are reference by "precursor.leID" and their intensity "precursor.inten" in final_peptide file.

 I.e. for an EMRT that ha

[2013-05-13 11:02] #41 closed, assigned to nobody

[2013-05-13 18:52] #38 closed, assigned to nobody

[2013-05-22 16:16] pavel-shliaha opened #43 "checking isotopic distribution for matched EMRT"
Currently we attempt to match EMRTs in QUANT to peptide sequence in IDENT. It should be possible to compare EMRTs isotopic distribution either to predicted from peptide sequence or to EMRT's of identified peptide (which would probably be more accurate).  This provides an additional check on transfer accuracy.

[2013-05-29 18:40] #30 closed, assigned to lgatto

[2013-08-09 14:37] pavel-shliaha opened #44 "LOPIMS bug"
LOPIMS 4 (normalisation method): produeced the following error:

[LOPIMS 4] Calculate ratios to reference peptide
Error in `rownames<-`(`*tmp*`, value = c("NVTDLIMNVGAGGGGGAPVAAAAPAAGGGAAAAPAAEEK",  :
  length of 'dimnames' [1] not equal to array extent

Laurent initiated traceback() function which produced the following output:

4: `rownames<-`(`*tmp*`, value = c("NVTDLIMNVGAGGGGGAPVAAAAPAAGGGAAA

[2013-10-08 15:05] pavel-shliaha opened #45 "2DRP_realignment"
I believe we can quantify more EMRTs on G2 than we usually identify.

To maximise identification rate I suggest we use HDMSE 2DRP. For example recently I have identified 600 proteins in MSE, 1200 proteins in HDMSE and 4000 "green" (green/yellow/red is a simplistic PLGS filter) proteins in 2DRP HDMSE in a mouse sample.

However there is a problem with transferring ids directly from 2DRP HDMSE run.

[2013-10-22 20:05] #44 closed, assigned to nobody

[2014-02-20 23:38] #35 closed, assigned to nobody

[2014-03-24 21:40] pavel-shliaha opened #53 "Special missed cleavage handling"
in PLGS pepFrag1 and pepFrag2 peptides can have missed cleavages if basic amino acid is followed by another basic amino acid or acidic amino acid.

E.g:

[1794] "STLDELTNAMEKDLSEITDEIEK"
[1795] "ELVILGTGWGAISLLKK"
[1796] "DTEGNELDPEVVKK"
[1797] "SLYGPNEITVEDDESLFKK"
[1798] "YYATWCIHSKR"
[1799] "LHQAKDSEVSTEDTVHDEL"
[1800] "TWKDYK"
[1801] "KEPDLIEYFESSGYR"
[1802] "NAIIQNKDLFKDK"
[1803] "CSIHLAGLEDS

[2014-03-25 11:46] pavel-shliaha opened #54 "add progress bar to estimateMasterFdr"
This is a minor change that would be very helpful and appreciated, since currently synapter just says "Calculating..." without giving any indication as to when the process is expected to end.

[2014-03-25 14:44] pavel-shliaha opened #55 "not performing database digestion every time analysis is run"
The workflows we are currently using have a step of creating master and then transferring identifications to a large number of runs in separate synapter analysis (up to 50 synapter analyses)

Database gets digested now in every synapter analysis which increases the total running time quite a lot. It would be faster if database (from fasta file) could be digested once and then fed into synergise as

[2014-03-25 15:29] #54 closed, assigned to nobody

[2014-04-29 16:13] #53 closed, assigned to nobody

[2014-04-29 18:05] #55 closed, assigned to sgibb

[2014-04-29 20:58] sgibb opened #59 "remove precursor ions from spectrum.xml and fragment.csv data"
According to a discussion with @pavel-shliaha we should remove "fragments" from the `spectrum.xml` and `fragment.csv` data that have the same mass as the precursor ion. Because they are not fragments per definition and they will bias the comparison based on common peaks. Each match (matched in the grid search with a max. tolerance of 25 ppm) will have at least one peak in common (the precursor) be

[2014-04-29 21:01] sgibb opened #60 "treat L,I as identical in dbUniquePeptideSet"
Create an optional argument (default `TRUE`?) to treat _I_ and _L_ as identical in `dbUniquePeptideSet`.

[2014-04-30 17:12] #59 closed, assigned to nobody

[2014-04-30 21:21] #60 closed, assigned to nobody

[2014-05-02 18:42] pavel-shliaha opened #63 "fragment library"
now that it is possible to load and cross match spectra it should be possible to load spectrum from several fragment.csv files. Given that precursors and fragments are expected to have different intensities in different runs, it is implicit that fragment intensity is normalised to precursor intensity.

Consider loading fragments from several csv files:

1) if a fragment was matched to the precurso

[2014-05-14 15:00] sgibb opened #66 "Adapt ionmobility.Rnw to new HDMSE dataset"
Currently the `ionmobility.Rnw` vignette uses local data. We should adapt this vignette as fast as possible to the new HDMSE example dataset.
The ion mobility vignette has to be added to the `vignettes/Makefile` as well.

[2014-05-15 18:07] pavel-shliaha opened #67 "misleading names"
Certain names that have been given to variables, columns, function, etc are misleading and need to be changed. I will keep adding them as I notice them. Please do not close this issue. Also change things as you see fit, i.e. if things sound ok to you dont change them. Below is a list of things to be changed:

- [x] in CrossMatching DF, there is a column called "matchType" for transfer type (e.g. u

[2014-05-15 22:32] #66 closed, assigned to nobody

[2014-05-17 11:26] lgatto opened #69 "centroided spectra in synobj2"
Some sepctra are not centroided in synobj2, which breaks `filterFragments`.

[2014-05-17 12:45] #69 closed, assigned to nobody

[2014-06-02 11:30] pavel-shliaha opened #70 "Synapter filters out some proteotypic peptides from the master using new filterUniqueDbPeptides()"
I have created a master that contains 9493 peptides.
Of these 8351 were  1142 removed by filterUniqueDbPeptides():

1) 1006 trully non-proteotypic
2)  2 were C-terminal
3)  69 were N-terminal all of which have N-terminal Met removed, however these peptides may be partially acetylated, see

http://www.ncbi.nlm.nih.gov/pubmed/11013267

though Met removal is easy to predict N-teminal acetylation isn'

[2014-11-02 20:55] sgibb opened #71 "Do masterPeptides need two master data.frames?"
@pavel-shliaha `makeMaster` creates a `masterPeptide` object that contains two master data.frames. The second one is very similar to the first. The only difference is that the retention time model is build with a different order of the `IdentPeptideData`. Do we really need both masters? I can't find any use of the second master in the whole synapter code.
I am going to integrate the fragment libra

[2014-11-08 20:22] sgibb opened #72 "Reduce crossmatching to ident fragment vs quant spectrum comparison"
While working on the fragment library feature I recognized that the current crossmatching implementation is very confusing (at least for the fragment library).

Currently we match identification fragments vs quantitation fragments, identification spectra vs quantitation fragments and identification fragments vs quantitation spectra.

When I remember correctly @pavel-shliaha told me that he is only

[2014-11-08 20:48] sgibb opened #73 "How to handle false positives produced by the grid search?"
This issue describes a problem @pavel-shliaha and I recognized a few weeks ago. It is mostly a quotation of our email conversation.

It sometimes happen that our gridSearch matches two EMRTs that are not matched by PLGS.

with the `precursor.leID == 1158` matches two different entries of the Pep3D file
nearly perfectly: `spectrumID == c(23517, 23519)`. PLGS has chosen the guy with
the spectrumID 2

[2014-11-08 22:13] sgibb opened #74 "Store fragment library as MSnExp in master"
If we store the fragment library in the master object we could save nearly 5 minutes in each synapter run in comparison to read the fragment library csv each time we compare against the master.

[2014-11-11 18:44] sgibb opened #75 "Provide a sufficient updater method for old `Synapter` objects."
As @lgatto mentioned in #68 something like the following should be sufficient:

[code]

[2014-11-11 18:59] #74 closed, assigned to sgibb

[2014-11-16 11:49] sgibb opened #76 "add more useful tests to `validObject`"
#75 introduces `validObject`. It would be useful to add some more tests there.

[2014-11-16 11:57] #75 closed, assigned to sgibb

[2014-11-16 11:58] sgibb opened #77 "promote `validObject` in manuals and vignettes"
In #75 we introduced a new `validObject` method. We should promote this method in all manuals and vignettes. It has to be the first method that is called after a saved synapter object was loaded.

[2014-11-19 20:35] sgibb opened #78 "Replace `Version` slot by `ClassVersion` slot."
Replace `Version` slot by `ClassVersion` object and adjust `validObject` accordingly.

[2014-11-21 20:48] #78 closed, assigned to sgibb

[2014-11-21 20:52] sgibb opened #79 "Cleanup NEWS file."
The [2.0](https://github.com/lgatto/synapter/milestones/2.0) version of synapter introduces many new features. Because of the long development process the `NEWS` file is cluttered (there are some entries for features that are removed/replaced in the process).

[2014-11-21 20:56] #71 closed, assigned to pavel-shliaha

[2014-11-21 20:58] #26 closed, assigned to lgatto

[2014-11-23 22:19] lgatto opened #80 "Status of ion mobility"
What is the status of the ion mobility? Will this be included in 2.0?

[2014-11-24 20:42] #72 closed, assigned to sgibb

[2014-11-24 20:49] #80 closed, assigned to sgibb

[2014-11-24 20:59] sgibb opened #81 "Adapt `synergise` to new 3D grid search"
The new 3D grid search introduced in https://github.com/lgatto/synapter/pull/68 (already merged into the 2.0 branch) causes some problems:

- [x] `synergise` fails. `getGrid` returns an array instead of a matrix. How to put this in the HTML report?
- [ ] ~~`synergise` needs the following arguments `imdiff.from`, `imdiff.to` and `imdiff.by`~~ => `synergize2` #119
- [ ] ~~`plotFeatures` can plot *m/

[2014-11-24 21:02] #33 closed, assigned to nobody

[2014-11-27 16:27] #42 closed, assigned to pavel-shliaha

[2014-12-07 11:30] lgatto opened #82 "RT alignment reference"
For documentation only (we possibly had related references in a vignette somewhere):

[amsrpm: Robust Point Matching for Retention Time Aligment of LC/MS Data with R](http://www.jstatsoft.org/v18/i04)

Proteomics is the study of the abundance, function and dynamics of all proteins present in a living organism, and mass spectrometry (MS) has become its most important tool due to its unmatched sensi

[2014-12-07 17:33] #63 closed, assigned to nobody

[2014-12-07 17:40] sgibb opened #83 "Update fragmentmatching vignette"
I remove `loadIdentificationFragments` and `loadQuantitationSpectra`. If you want to use fragment matching you have to call the constructor as follows:
[code]
If you set identfragments/quantspectra to `NULL` or don't mention them at all the fragment matching feature will be disabled. This is not documented in the vignette yet.

[2015-01-03 16:21] sgibb commented on #73
Now there is an internal function that checks the agreement. The result are following below (for one single run). @pavel-shliaha I am wondering how we handle multiple matches (generated by the gridSearch), e.g. row 1 and 3:
[code]

[2015-01-03 21:56] pavel-shliaha commented on #73
I would actually prefer agree;disagree;agree to be merged in one answer which is no_transfer (there is no transfer there in my opinion). Please see my comment from 10 November on how to calculate the metric for PLGS and synapter agreement.

[2015-01-03 23:08] sgibb commented on #73
All multiple matches are merged to `no_synapter_transfer` now (currently only affecting a single run):
[code]

Is `no_synapter_transfer` correct for rescued EMRTs?

[2015-01-04 10:57] sgibb commented on #73
Ok, it works for a single run. Now we need to combine the single runs into an `MSnSet` object. I used the `ups25a, ups25b, ..., ups50c` objects provided by `synapterdata` and processed them as described in the `synapter` vignette. After combining them via `combine` we get the following:
[code]
The three metrices you mentioned in your comment from 10th November are easy to calculate:
[code]
@pavel-

[2015-01-04 11:07] sgibb commented on #73
Would it be enough to have a single column `synapterPlgsAgreementRatio` that contains the number of `agree` vs number of `identified` (metric b divided by metric c; last column):
[code]
With such a column it would be possible to remove all peptides that are not identified in e.g. at least 75% of all runs.

[2015-01-04 14:47] pavel-shliaha commented on #73
Thanks Sebastian, just what I wanted.

[2015-01-04 16:50] sgibb opened #84 "test whether filterNonUniqueMatches reintroduces Pep3D data correctly"
If we use `filterNonUniqueMatches` some non-unique matches turn into unique ones. These new unique matches need to reintroduce their Pep3D data (Counts etc) into the MatchedEMRT data.frame and the resulting MSnSet. IMHO the current solution should do this but it was not tested yet.

CC: @pavel-shliaha

[2015-01-04 16:55] sgibb opened #85 "`filterUniqueMatches` needs to remove Pep3D data"
The current implementation of `filterUniqueMatches` doesn't remove EMRTs but sets the `Function` column to `-1` (same for `filterNonUniqueMatches`, `Function == -2`). If we use `as(synapterAnalysis, "MSnSet")` these filtered EMRTs and their counts are added to the MSnSet object. That's why we have to replace all Pep3D related data (Counts etc) with `NA`. Or we exclude all EMRTs with `Function < 0`

[2015-01-05 15:39] lgatto commented on #85
I would suggest to keep these data points with `NA`, because `as` should only convert the data without additional filtering.

[2015-01-05 19:18] sgibb commented on #85
That sounds reasonable to me but @pavel-shliaha asked me not to remove any information from the MatchedEMRTs data.frame. If @pavel-shliaha agree I will modify `filterUniqueMatches` to set the Pep3D related data (Counts etc) of the filtered EMRTs to `NA`.

[2015-03-29 18:00] sgibb commented on #84
The assumption was right. The values are reintroduced correctly.

[2015-03-29 18:00] #84 closed

[2015-03-29 18:26] sgibb commented on #85
To clarify the problem I add a little code sample:
[code]
As mentioned above IMHO the only solution would be to replace all Pep3D data by `NA` for all filtered values (or remove the completely but this would distort the resulting MSnSet).

[2015-03-29 18:33] sgibb commented on #85
(Sry, I have removed the previous posted code example because it was completely useless and wrong.)
To clarify the problem I add a little code sample:
[code]
As mentioned above IMHO the only solution would be to replace all Pep3D data by `NA` for all filtered values (or remove the completely but this would distort the resulting MSnSet).

[2015-03-29 19:02] pavel-shliaha commented on #85
It is ok to make the counts as NA values, after the additional filter on fragment number has been applied.

[2015-03-29 19:13] #85 closed

[2015-03-29 20:13] sgibb commented on #39
As we discussed on skype we will follow the first strategy (quantify on peptides). Now the isotopic distribution is stored in the Synapter object and the resulting MSnSet:
[code]
How we realize the requantification? Do we simple sum up all counts below a threshold, e.g. for the last peptide: `satThreshold = 500`; `newCount = 399 + 164 + 33` (596)?

[2015-03-29 21:02] pavel-shliaha commented on #39
To do requantification synapter needs to first select all ions that are present in all the runs under saturation threshold. It then sums the intensity of these ions for every run, which is the new quantitation value. For example:

run1:  2,0,838;2,1,360;1,0,30
run2:  2,0,8000;2,1,4000;1,0,30

saturation threshold: 5000

there is 1 isotope present in all runs below saturation threshold: 2.1. so the

[2015-03-30 17:42] sgibb commented on #39
So we just sum up common isotopes. For your example run 1 will be (360+30)/(4000+30) = 0.097 and run 2 will be 1.0? (these values are no counts anymore)

What do we do if there are

1. no isotopic distribution information avaiable
2. no counts below the saturation threshold
3. no common isotopes?

[2015-03-30 20:22] pavel-shliaha commented on #39
1) this will have to be loaded unfortunately from the P3D file
2) there will always be isotopes below saturation threshold. THe number of identified isotopes is expected to be correlated with peptide intensity. The more there is of a peptide, the more isotopes it will have. I.e. for high intensity peptides (below saturation threshold), there will be more isotopes than for a low intensity peptide a

[2015-03-31 10:46] lgatto opened #86 "synapter warning"
[code]

Details in [check report](http://master.bioconductor.org/checkResults/3.1/bioc-LATEST/synapter/zin2-checksrc.html)

Unless anyone has time to fix, I will do it tonight (probably).

[2015-03-31 17:06] sgibb commented on #39
That's a pain! I will do it later if the whole method works as expected.

Regarding 3.: In theory it sounds simple (like always) but here I used the last three peptides of my example dataset and try to calculate the original counts using theoretical proportions of the isotopes (ignoring any saturation). As you can see the calculated values are sometimes very good and sometimes (especially for the

[2015-03-31 18:04] #86 closed

[2015-03-31 21:23] lgatto commented on #86
Thanks! Committed to hedgehog.

[2015-04-01 18:09] pavel-shliaha commented on #39
I understand the difficulty and it is expected. Perhaps it is indeed going to be complicated to calculate the intensity of saturated ions based on non-saturated ions, due to the fact that there is a more significant noise contribution to signal for less intense isotopes.

Also perhaps the situation outlined in my previous post is extremely rare and we dont even need this calculation. So I would pr

[2015-04-04 21:46] sgibb commented on #39
Ok, I just finished the first attempt to realize this feature. It is still clumsy but I hope it is enough to start experimenting with it.

## default workflow
[code]
Nothing new yet.

## requantification
The next step would be the requantification. There is a new function called `requantify` with three arguments (the `MSnSet`; `saturationThreshold`: the maximal unsaturated counts, `method`: could

[2015-04-04 21:50] sgibb commented on #73
See https://github.com/lgatto/synapter/issues/39#issuecomment-89670957 for an example using the latest synapter@saturation branch.

TODO:
- There is not any documentation of this functions yet (no vignette; not even a manual page).
- We have to rethink about the new function/column/argument names.
- The function should be a method.

[2015-04-06 14:35] lgatto commented on #39
A little technical comment/question regarding

Do you mean `requantify`? Why so? Using methods when functions work well enough or there is no requirement for dispatching on different inputs is not worth it. (I have been using methods when functions where fit for purpose too often in the past)

[2015-04-06 14:48] sgibb commented on #39
@lgatto: Yes, I have seen that you change some methods to functions in some of your packages. What is the reason for that? Is there any drawback of S4 methods (except that dispatching needs some time and debugging is sometimes harder)?

[2015-07-01 18:26] sgibb opened #87 "useless columns?"
If there ever will be a 2.0 release I would prefer to load only the columns that we are need (or remove them afterwards to keep the synapter object smaller). IHMO it should be save to load only the columns we need in the functions. But maybe there some columns that are interesting for the user to look at (after the whole analysis).

@pavel-shliaha Which of these columns are really needed (please a

[2015-07-03 19:37] lgatto opened #88 "Implement unit tests for synapter"

[2015-07-15 17:01] sgibb opened #89 "export Fragments/Spectra to MGF"
Because the `final_fragment.csv` and `Spectrum.xml` files are imported into an `MSnExp` object it should be simple. Unfortunately it is not.
[code]
[code]

Needs some more investigation (and maybe some adaption of `MSnbase::writeMgfData`).

[2015-07-18 11:28] sgibb commented on #89
I am wondering whether it would be better to provide accessors for the spectra/fragment data, e.g. `getIdentificationFragments`, `getQuantitationSpectra` instead of an export function. This would have the advantage that we could use all methods that `MSnbase` provides for `MSnExp` objects.
@pavel-shliaha What do you think?

In this case the user has to call: `writeMgfData(getIdentificationsFragmen

[2015-07-18 23:08] lgatto commented on #89
+1

[2015-07-19 14:49] pavel-shliaha opened #90 "synapter bug"
I am having trouble with analysing one particular acquisition and it produces the following error (R version 3.2.1)

I have put all the necessary files (master, fast, pep3d, spectrum.xml, final_fragment.csv and final_peptide.csv) into

    Z:\RAW\pvs22\_QTOF_DATA_data3\data_for_synapter_2.0\bug\2015_07_19_problems_with_loading_spectrum\for_synapter

[code]

[2015-07-23 17:23] lgatto opened #91 "Error when compiling fragmentmatching vignette"
When running the following code from the `fragmentmatching` vignette

[code]

I traced it back to

[code]
which fails [at](https://github.com/lgatto/synapter/blob/2.0/R/fragmentmatching-functions.R#L303)

[code]

Not sure if this should be `thresholds <- 0:max(xtrain, na.rm=TRUE)`. With this change, the code still fails when `.fragmentMatchingConfusionMatrix` is called a second time because xtrain

[2015-07-23 20:18] sgibb commented on #91
During the change from `crossMatching` to `fragmentMatching` I changed the format how the fragments/spectra are stored. That's why the `synobj2` in `synapterdata` is outdated.
Here is the code to create a new one (the old script is not working anymore because `synergise` is broken):
[code]
With the new `synobj2` the vignette compiles fine.

@lgatto I would suggest to not update `synapterdata` befo

[2015-07-23 23:52] lgatto commented on #91
Thanks!

[2015-07-23 23:52] #91 closed

[2015-07-24 00:25] lgatto opened #92 "Code chunk plotcxseq in fragmentmatching vigette fails"
When running the vignette, I get the following error
[code]

The [offending line](https://github.com/lgatto/synapter/blob/2.0/R/fragmentmatching-functions.R#L95) fails because
[code]

[2015-07-24 18:29] sgibb commented on #92
Sorry, but I can't reproduce it:
[code]

[code]

[2015-07-24 20:27] lgatto commented on #92
Here is the exact code, from the vignette:
[code]

**But**, here is where things become interesting...

In the same session as above:
[code]

In *another* (but see R version)
[code]

It looks like `NA` is new in R devel (I think this is the right behaviour, by the way).

Before doing any changes in the code, why do we end up with an `NA`, why don't we have the sequence in `sequence[[2]]` (and why

[2015-07-24 23:58] lgatto commented on #92
Followup:
[code]
and
[code]

[2015-07-24 23:59] lgatto commented on #92
So we can set `keepNA = FALSE` to keep the old behaviour, but I'm still surprised about the fact that `sequences` has a `NA`.

[2015-07-25 11:32] sgibb commented on #92
Ok, I hopefully fixed it for the current R and R-devel.

IMHO it is very normal that `sequences` has a lot of `NA`s. The fragment matching compares the fragments of the identification run (top) to the spectra of the quantitation run (bottom). In contrast to the fragments the quantitation spectra aren't always identified (so no sequence information is available, this is also true if both runs are H

[2015-07-25 12:57] lgatto commented on #92
Indeed. Thanks for the clarification.

[2015-07-25 12:57] #92 closed

[2015-07-25 19:30] pavel-shliaha opened #93 "perform rescue after transfer"
As discussed with Sebastian on 25.07.15 there is currently a bug with rescue functionality. It seems that if or

filterUniqueMatches
filterNonUniqueMatches

are used and no EMRT has been transferred after them (i.e. either not enough fragments are present after filterUniqueMatches or not enough difference is present in filterNonUniqueMatches), then no EMRT is assigned to a peptide by synapter. But

[2015-07-25 19:34] pavel-shliaha opened #94 "Confusing names"
The following names need to be changed to make synapter output easier to understand:

Function
Function.1
Function.2

[2015-07-25 20:32] sgibb commented on #94
Which name(s) do you suggest?

`matchedEMRTs`
`matchedEMRTs.beforeFilterUniqueMatches`
`matchedEMRTs.beforeFilterNonUniqueMatches`

[2015-07-25 20:40] sgibb commented on #67
`Function*` should be renamed to

`matchedEMRTs`
`matchedEMRTs.beforeFilterUniqueMatches`
`matchedEMRTs.beforeFilterNonUniqueMatches`

[2015-07-25 20:41] sgibb commented on #94
duplicate of #67

[2015-07-25 20:41] #94 closed

[2015-07-25 20:49] sgibb commented on #90
When I wrote this function the `LE_ID` and `HE_ID` (ids of the Low/High Energy Scans) were identically to the row number of the awkward table in the Spectrum.xml file. This is not true for this example file anymore. That's why we have to look up the row indices manually. Thanks to `findInterval` it is just a few milliseconds slower than the previous (wrong) solution (the spectrum import takes minu

[2015-07-25 20:49] #90 closed

[2015-07-25 21:57] sgibb commented on #87
Please drop me a note if any column is missing in the output.

[2015-07-25 21:57] #87 closed

[2015-07-25 22:22] #67 closed

[2015-07-25 23:27] sgibb commented on #93
I introduced `rescueEMRTs` (and the corresponding code in `findEMRTs` is removed). You have to call it manually now, e.g.:
[code]

[2015-07-25 23:31] sgibb opened #95 "Are the "light" variants of writeMergedPeptides/writeMatchedEMRTs still needed?"
After removing useless columns in #87 I am wondering whether we still need
`writeMergedPeptides(obj, what = "ligtht", ...)` and `writeMatchedEMRTs(obj, what = "light", ...)` or if we could remove the `what` argument (because `"full"` and `"light"` are now nearly identically).

[2015-07-25 23:35] sgibb commented on #88
Just to let you know. In the `2.0` branch are (very, very few) unit tests.

[2015-07-26 14:04] pavel-shliaha opened #96 "bug in new synapter while reading pep3D"
Create MSnExp object
Reading master identification peptide file...
Reading quantitation Pep3D file...
Error: You have 52 column names, but 15 columns

plese have a look (same files as I posted for previous bug)

Z:\RAW\pvs22\_QTOF_DATA_data3\data_for_synapter_2.0\bug\2015_07_19_problems_with_loading_spectrum\for_synapter

[2015-07-26 16:21] lgatto commented on #88
Yes, I saw, thanks. It will take time to catch up with unit tests.

[2015-07-27 15:44] sgibb commented on #96
Unfortunatly I can't reproduce it.

I am using your file `synapter_analysis_BH.R` but I had to change the `quantspectra` file because `Apex.xml` has (of course) a different file format than `Spectrum.xml`. Afterwards the import works without any error.
[code]

Could you please reinstall the most recent synapter (`devtools::install_github("lgatto/synapter@2.0`) and retry?

What is the difference be

[2015-07-27 18:23] sgibb commented on #96
After a discussion with @pavel-shliaha we figured out that he filtered rows with
 `df[df$Function != 2,]`. With the filtered file I could reproduce this behaviour.
The original file (that don't cause this bug) and the filtered file differ in their column names:
[code]
Because we just want to read columns listed in #87 we read the first line of each csv file and find the index of the corresponding

[2015-07-27 18:23] #96 closed

[2015-07-27 18:26] pavel-shliaha commented on #96
thanks!

[2015-07-28 10:34] pavel-shliaha commented on #93
Unfortunately still problems. I have run the following code:

  synapterAnalysis <- Synapter(l, master = TRUE)
    fdr <- fpr <- 0.01
    ppm <- 20

    filterIdentPepScore(synapterAnalysis, method="BH", fdr=fdr)
    filterQuantPepScore(synapterAnalysis, method="BH", fdr=fdr)
    filterIdentProtFpr(synapterAnalysis, fpr=fpr)
    filterQuantProtFpr(synapterAnalysis, fpr=fpr)
    filterIdentPpmError

[2015-07-28 17:41] sgibb commented on #93
Was not related to the recent changes. Was a regular bug :wink:
`matched.quant.spectrumIDs` just contained the final match. Should it contain all matches?

[2015-07-28 17:42] pavel-shliaha commented on #93
Yes, please

[2015-07-28 17:44] sgibb commented on #93
Should be fixed now.

[2015-07-28 18:19] sgibb commented on #89
Both accessors `getIdentificationFragments` and `getQuantitationSpectra` added.

[2015-07-28 18:19] #89 closed

[2015-07-28 22:53] pavel-shliaha commented on #93
Sorry, Sebastian for not making myself clear,but there are problems again:

![28 7 15 bug 2](https://cloud.githubusercontent.com/assets/1895805/8945923/3cc08dd6-358c-11e5-97f8-9b78384361d5.jpg)

[2015-07-29 20:25] sgibb commented on #93
The plgsAgreement column is updated after `findEMRTs`, `filterUniqueMatches` and `filterNonUniqueMatches` automatically. Do you think we need a special user-visible function for it? (the `NA` you mentioned in your last comment was a result of the multiple ids in the `matched.quant.spectrumIDs` after my last fix of this issue; this is fixed now).

Also I reimport all Pep3D data.

[2015-07-29 20:25] #93 closed

[2015-08-01 12:16] pavel-shliaha opened #97 "question about memory allocation"
Synapter objects have become very big now + I am doing many synapter analysis in a loop (i.e. I perform up to 20 transfers). To save memory I am doing the following:
1. using the same variable for synapter analysis in the loop
2. save the analysis at the end of cycle iteration
3. remove the object from memory at the end of cycle iteration, e.g.:

[code]

Nonetheless the memory keeps being used and

[2015-08-01 12:56] pavel-shliaha opened #98 "MSnBase complains"
I am trying to load several synapter analysis but the algorithm fails. Any ideas?

+                         as (readRDS ("BH_F01_HDMSE_01_IA_final_peptide.RDS"), "MSnSet"))
Error in combine(x[[nm]], y[[nm]]) :
  matrix shared row and column elements differ: 'is.NA' value mismatch: 12872 in current 12882 in target

the data is in:

data:\RAW\pvs22\_QTOF_DATA_data3\data_for_synapter_2.0\bug\2015_07

[2015-08-02 14:09] sgibb commented on #98
You have to update the `sampleNames` and the `colnames` of the `featureData` of each `MSnSet` before you `combine` them. (Otherwise `combine` fails because of identical `sampleNames`, namely `Synapter1` produced by `as` and identical `featureData` column names.):
[code]

[2015-08-02 14:55] pavel-shliaha commented on #98
Thanks!

[2015-08-02 15:25] #98 closed

[2015-08-02 18:19] sgibb commented on #97
You are right, because we store the complete spectra data from identification fragments and quantitation spectra the size of the synapter objects is a lot of larger than before.
Nevertheless I can't reproduce your findings (maybe it is a Windows specific problem?). On my Linux laptop the following code runs just fine and use more or less around 1.2 GB the whole run time.
[code]
Maybe calling the g

[2015-08-04 09:16] pavel-shliaha commented on #98
cannot find synapterPlgsAgreement() which package does it live in?

[2015-08-04 20:32] sgibb commented on #98
Sorry, I forgot to export this function. It is not documented yet. Please use the `:::` operator for a moment (I don't have time to fix it until tomorrow evening (I am on duty today.)): `msn <- synapter:::synapterPlgsAgreement(msn)`

[2015-08-04 20:58] pavel-shliaha commented on #98
Thanks!

[2015-08-05 12:19] pavel-shliaha commented on #73
Two things that need to be changed about the function:

1) I can see some NA values in nAgree and nDisagree columns. This should not be the case
2) as far as I understand at the moment the synapterPlgsAgreementRatio column is computed as nAgree/nIdentified. E.g.

                            nIdentified nAgree nDisagree synapterPlgsAgreementRatio
IGENEPSEHSIHENAYGLAR                 17     15

[2015-08-05 20:06] sgibb commented on #73
Why should we use `nAgree + nDisagree` instead of `nIdentified` as denominator? `nIdentified` would be the same as `nAgree + nDisagree` for all EMRTs but the ones that are matched by synapter or PLGS exclusively. Given the above example we would get an `AgreementRatio` of 1 (=100%) but synapter just matched 15 out of 17 EMRTs (or found 2 more than PLGS), so the overall consensus is just 15/17.

[2015-08-05 20:31] sgibb opened #99 "Should we create sample names automatically?"
I found it very cumbersome and error-prone to call `sampleNames` and `updateFvarLabels` on the generated `MSnSet` manually:

[code]

I would suggest to use the basename of the quantpeptide file (except the `_IA_final_peptide.csv` part), e.g. `BC_F24_CW_HDMSE_01_IA_final_peptide.csv` will become `BC_F24_CW_HDMSE_01`.
The above code block could than reduced to:
[code]

[2015-08-05 20:42] pavel-shliaha commented on #99
I agree (obviously)

[2015-08-05 20:45] #99 closed

[2015-08-09 15:57] sgibb commented on #73
`NA` values in `nAgree/nDisagree` should not occur anymore.

[2015-08-10 15:09] pavel-shliaha opened #100 "problem with making master"
there is a problem of making master with these files (put them in `/data/export/RAW/pvs22/_QTOF_DATA_data3/data_for_synapter_2.0/bug/2015_10_08_master error`)

[code]

[2015-08-10 18:51] #100 closed

[2015-08-13 10:01] pavel-shliaha commented on #97
Having the same problem again. Computer freezes after 5! synapter analysis. Should we report it to R core team? Laurent, your thoughts please

[2015-08-13 21:44] lgatto commented on #97
On 13 August 2015 11:01:01 BST, pavel-shliaha <notifications@github.com> wrote:

No, definitely not R core. I am currently travelling and will have a look next week.

Laurent

[2015-08-20 10:41] pavel-shliaha commented on #39
cannot find requantify function. Where does it live?

[2015-08-20 15:02] pavel-shliaha opened #101 "plotFragmentMatching (): framgents from master database too low"
When plotting fragment matching data, the relative intensities of fragments in quant run is reasonable,while the intensities of fragments in fragment library are almost 0. See print screen
![20 8 15 bug low fragment intensity in library](https://cloud.githubusercontent.com/assets/1895805/9386736/34fd4af2-475d-11e5-99c7-3041562f4005.JPG)

I presume it is an error while making fragment library. I ha

[2015-08-20 15:31] lgatto commented on #101
Try adding `plotFragmentMatching(..., norm=TRUE)`.

[2015-08-20 15:33] pavel-shliaha commented on #101
nope.

  |====================================================================================================================================| 100%
Warning messages:
1: In plot.window(...) : "norm" is not a graphical parameter
2: In plot.xy(xy, type, ...) : "norm" is not a graphical parameter
3: In axis(side = side, at = at, labels = labels, ...) :
  "norm" is not a graphical parameter
4: In axis

[2015-08-20 16:08] lgatto commented on #101
@sgibb the inner function `.plotSpectrumVsSpectrum` has a `norm` argument. Apparently, the way the `...` are passed from `plotFragmentMatching` to `.plotSpectrumVsSpectrum` (and further) fail to apply `norm` where needed.

Now I see that the default is `norm = TRUE`, which is however not applied.

[2015-08-20 19:35] sgibb commented on #101
@lgatto:

No, it has not. I don't remember the reason but `synapter:::.plotSpectrumVsSpectrum` is not the same as `MSnbase:::.plotSpectrumVsSpectrum` (which has a `norm` argument). I first developed these functions for synapter and we moved them to MSnbase later. Currently I have no idea why we kept the modified synapter version as well (which is in fact indentically to `MSnbase:::.plotSpectrumVsS

[2015-08-20 19:46] lgatto commented on #101
I hadn't reaslised that there were`MSnbase:::.plotSpectrumVsSpectrum` and `synapter:::.plotSpectrumVsSpectrum` - confusing indeed.

Sure, go ahead

[2015-08-21 13:07] pavel-shliaha opened #102 "why is fragment information non-redundant?"
In HDMSE fragments are associated with precursors based on similarity of rt and dt. So there is a question: why if we do 3D grid search which has these dimensions in it, we can still increase identification transfer efficiency by fragment matching?

In theory if two EMRTs have similar m/z, rt and dt, they should also share all the same fragments. Hence when they fall within the tolerances of a pep

[2015-08-22 09:44] sgibb commented on #101
In fact almost all intensities are exact zero! But it has nothing to do with the plotting or the normalisation before the plotting. The reason is in the data itself and the way we create the fragment library in https://github.com/lgatto/synapter/blob/2.0/R/fragmentlibrary-functions.R#L53-L79.

[code]

Maybe it is enough to just remove the `round` statement at this line and readd it in  https://git

[2015-08-22 10:12] sgibb commented on #102
To be honest I don't understand this question.

By the 3D grid search we look for precursors that are similar in rt, mz and dt. The fragment matching is more or less a quality control step. Using `filterUniqueMatches` we ensure that a matched (by the grid search) EMRT has at least a certain number of common peaks. That could reduce false positives. `filterNonUniqueMatches` should solve situations

[2015-08-22 14:24] lgatto opened #103 "Synapter 2.0 conf call"
### When
Monday 14th Sep, after 5pm (4pm UK time)
- fine for @sgibb and @lgatto
- waiting for confirmation from @pavel-shliaha

### Agenda
- new features
- test data (see below)
- assessing accuracy and precision of quantitation (cf PMID 25545627)
- manuscript preparation

[2015-08-22 16:38] pavel-shliaha commented on #102
Let me put it this way: in HDMSE there is no precursor selection for fragmentation and peptides are separated by LC and IMS prior to fragmentation. Two peptides having similar m/z and dt will be co-fragmented. Fragments are then matched to precursors tentatively, (i.e. prior to database search) using rt and dt. What we see in the spectra that we load from .xml files for a peptide is fragments that

[2015-08-22 21:42] pavel-shliaha commented on #39
requantify(msc, saturationThreshold=Inf, method="sum") function does not work very well.

1) easy to fix: if requantification is impossible can you not introduce NAs,but just leave the same quant values. Also introduce an additionl column "requantification" where you put TRUE, if requantification was succeful and FALSE if it was not. The reason is a user might not want to loose the data if requant

[2015-08-23 10:30] sgibb commented on #39
1.) Is that really expected? I wouldn't expect that there are any original values in the `MSnSet` after requantification. Do you really think we should implement it the way you suggested? If the user want to mix up original and requantified values he could easily do so:
[code]

2.) This is not true. The current behaviour is already the way you want it to be.
Default workflow:
[code]

To show the s

[2015-08-27 15:08] pavel-shliaha commented on #39
I would actually like to suggest the following method to deal with the problem:

imagine we have a peptide at 10, 20, 50, 100 and 500 fmol (this is actually what we see in the organelle proteomics datasets a lot), the problem is that 10 and 500 fmol do not have any isotopes in common that are not over sat threshold in 500, but are still present at 10, so correction is not possible. 50 fmol however

[2015-08-30 17:57] sgibb commented on #39
at 1) I would suggest to let the user choose a reference run and don't try to find a run automatically. (If we try to find a run automatically it could happen that the reference run differs across peptides. Or we have to analyse all runs at once.)
at 2) that's sounds reasonable. Additionally I would suggest to ignore `NA` runs.

[2015-09-01 12:33] lgatto commented on #103
### Data
- Spike-in data from [previous synapter paper](http://www.ncbi.nlm.nih.gov/pubmed/23510225)
- Data from [In-depth evaluation of software tools for data-independent acquisition based label-free quantification](http://www.ncbi.nlm.nih.gov/pubmed/25545627)
- Pavel and Nino's LOPIMS data

[2015-09-02 20:36] sgibb commented on #39
As discussed in our last skype call I add a new requantify method: `"reference"`.

It looks for an unsaturated run (none of the isotopes is higher than the saturation threshold) with the highest summed intensity value and use this as reference. A run with intensity values above the saturation threshold would be corrected as follows:
1. The unsaturated intensities are divided by their counterparts

[2015-09-14 15:49] pavel-shliaha commented on #101
For every fragment please divide the sum of its intensities by the sum of precursor intensities in which the fragment has been observed.

If a fragment is seen in run 1 and 2,but a peptide is seen in run 1, 2 and 3 the formula for fragment intensity is:

(frag_int_1 + frag_int_2)/ (prec_int_1 + prec_int_2)

not precursor intensity in run 3 is omitted

[2015-09-15 10:53] sgibb commented on #101
In general that is the way we do it already.

To summarize the following is done:

1. Sum intensities over all equal fragments and equal peptides over all runs:

    (frag1_pep1_run1_int + frag1_pep1_run2_int + ... + frag1_pep1_runN_int)

2. Divide per the corresponding precursor intensity

    (frag1_pep1_run1_int + frag1_pep1_run2_int + ... + frag1_pep1_runN_int) /
    (pep1_run1_precInt + pep1_

[2015-09-15 15:07] pavel-shliaha commented on #101
Checked it. Its right. Thanks Sebastian!

[2015-09-15 15:07] #101 closed

[2015-09-28 09:29] #103 closed

[2015-09-28 09:35] lgatto opened #104 "Adjustment of RT and mass windows"
Just an idea here, that we might consider in the future. We do better than many other methods in defining the RT and mass with for identification transfer. Indeed, rather than using arbitrary values, we estimate it based on the data. Still, we use a single RT/mass with over the full retention time and mass ranges. I was wondering if we couldn't optimise for different optima in different regions of

[2015-11-29 19:38] sgibb commented on #39
We need to review all saturation correction algorithms. Even "sum" has its bugs.

"Sum" (maybe others too) should get an option to decide whether we want to remove unsaturated isotopes that are below the threshold but not present in all runs (current behaviour) or if we want to keep them:

    run1 z1:10, z2:5, z3:1; run2 z2:5
    threshold: 20: run1: 15 (or 16, z3 is missing in run2), run2: 5

[2015-12-03 16:28] sgibb commented on #39
A question regarding reference run requantification:

We have the following situation:

    reference run: z1_1: 100, z1_2: 10, z1_3
    run500mol:     z1_1: 2000, z1_2: 1000, z1_3: 500, z2_1: 100, z2_2: 10

If the saturation threshold is 400, the reference run and run500mol have not any unsaturated isotope in common. How we handle this?

Sounds strange? But happens at least 2 times in your exampl

[2015-12-03 18:02] pavel-shliaha commented on #39
"If the saturation threshold is 400, the reference run and run500mol have not any unsaturated isotope in common. How we handle this?"

you cant hadle this by reference approach. First some definitions so we are on the same page. Assuming we are talking about a particular peptide: SATURATED runs are those runs that have isotopes over saturation threshold. UNSATURATED runs are those runs that have i

[2015-12-05 16:00] hsiaoyi0504 opened #105 "Ion mobility data supported"
I have a question about this library, is it suitable for Ion mobility data?
I use Synapt G2 mass spectrometer also.

[2015-12-05 17:32] lgatto commented on #105
Yes, you can use `synapter` with ion mobility. We did all the development using data acquired on a Synapt G2 instrument. See the [package vignette](http://bioconductor.org/packages/release/bioc/vignettes/synapter/inst/doc/synapter.pdf) and [this reference](http://www.ncbi.nlm.nih.gov/pubmed/23510225) ([pdf](http://cpu.sysbiol.cam.ac.uk/papers/Bond2013.pdf)) for details. Let us know if you have mor

[2015-12-05 17:32] #105 closed

[2015-12-12 12:58] sgibb opened #106 "converting an object from Synapter to MSnSet"
Currently (just in synapter 2.0) `as` adds the sample name to `sampleNames` and `fvarLables` of the new `MSnSet` automatically, e.g.:
[code]
This is nice if you want to `combine` the different `MSnSets`.

Unfortunately it complicates the modification of each individual `MSnSet`.
While `x <- topN(x, groupBy = fData(x)$protein.Accession, n = 3)` is working (because of autocompletion), `nPeps <- nQua

[2015-12-12 16:01] pavel-shliaha commented on #106
As far as I understand your question is the following: In

https://github.com/lgatto/synapter/issues/99

functionality was added when MSnbase now kindly adds prefixes to the names of MSnSets when combining them. I am very happy with this functionality and would prefer it not to be changed.

I am not sure what is the problem, is it that FvarLabel "protein.Accession" changes during combination?   If

[2015-12-12 17:39] sgibb commented on #106
You are right the functionality was introduced in #99. The problem is that the `MSnSet` has colum names  as `"protein.Accession.SAMPLENAME"` which make them hard to handle before combination (I was not aware of this problem before, because I never used `topN` or `nQuant` on the `MSnSets` before combining them.). E.g. if you want to call `nQuants` in a loop you have to `grep` the column that contai

[2016-01-07 18:33] pavel-shliaha opened #107 "bug of modelling function. Let user set max RT difference."
there is currently a bug in synapter behaviour, which I think can be attributed to modelling by LOWESS. During master construction from

"S130423_05_IA_final_peptide.csv"
"S130423_07_IA_final_peptide.csv"
"S130423_14_IA_final_peptide.csv"

files all the acqusitions show reasonable RT drift from each other.

05 against 07
![image](https://cloud.githubusercontent.com/assets/1895805/12178976/a8647dd2

[2016-01-09 18:49] sgibb commented on #107
While looking at this issue I found something strange.
Is there any reason why we use two different kind of `loess` estimators?

- 1. Ident vs Quant (default `synergize` workflow; via `modelRetTime`):
[code]

- 2. master creation (`makeMaster`)
[code]

There are at least two important differences:
1. We model `diff(rt) ~ rt.ident` and `rt.master ~ rt.slave`.
2. We use `symmetric` (means a M-estima

[2016-01-09 20:20] pavel-shliaha commented on #107
There should be no difference. The LOESS modelling should be the same between synergise and master construction. Perhaps this difference is the reason for the artifact described above?

[2016-01-09 22:19] lgatto commented on #107
Good point... I don't know. I looked back and it seems this has always been like that. Feel free to go ahead and amend. Could you run a few loess models using the 2 approaches to assess how much of a difference that makes?

[2016-01-12 10:53] sgibb commented on #107
Finally I found some time to test the different models.
1. There is no difference between `diff(rt) ~ rt.ident` and `rt.master ~ rt.slave` (obviously it is just a constant shift).
2. There is an impact of the chosen `family` argument `"symmetric"` (m estimator) or `"gaussian"` (least squares). As we assumed the m estimator approach seems to be more stable:

*05 vs 07*:

![1-0 05](https://cloud.git

[2016-01-12 21:37] lgatto commented on #107
I am not convinced it is a good idea to backport if the goal is the get`synapter` 2.0 ready for next release. We would have `synapter` v1.x, `synapter` v1.x' with `symmetric` loess for a couple of month and then `synapter` v2.

Ok, sounds reasonable.

[2016-01-19 21:25] sgibb commented on #107
I changed the `loess` modeling to `symmetric` as discussed above. Additionally I add @pavel-shliaha 's wish to set a max rt difference but I am not sure that this works good (e.g. we get negative rt predictions, I am not sure why this happen):

Creating a master of the following three files:
 - "S130423_05_IA_final_peptide.csv"
 - "S130423_07_IA_final_peptide.csv"
 - "S130423_14_IA_final_peptide.c

[2016-01-19 21:46] lgatto commented on #107
Could you elaborate on these negative values? I don't understand why this leads to negative values. Does the RT filtering not mean remove peptides that have a delta RT > 10 minutes prior to modelling?

[2016-01-19 22:06] pavel-shliaha commented on #107
Agree with Laurent, filtering should not be an issue. Could you please also make the max rt difference a parameter a user can choose (default = 10 min)?

[2016-01-20 11:41] pavel-shliaha commented on #107
1) A stupid question: are you sure there hasn't been a mix up of seconds and minutes?
2) is it only 1 peptide (i.e. does this peptide perhaps have the lowest  rt?) that becomes -47 min or is it a trend among many peptides being added to the master? Could you perhaps plot it for us, as you did above?

[2016-01-20 20:16] sgibb commented on #107
I will investigate this (maybe it is something stupid like mixing up seconds and minutes).

Beside this I have another question. Currently we don't run the model on unique peptide sequences. This results in an overweighting of some retention times. When creating a master from 05 and 14 we have a data.frame of ~17000 and ~22000 rows. After merging (because of duplicated peptide sequences and multip

[2016-01-20 21:21] pavel-shliaha commented on #107
Of course! I am very surprised by this. What about FDR estimation, does it run on unique peptides at least?

[2016-01-23 11:33] sgibb commented on #107
1. Regarding the problem with negative rt's. I indeed mixed up a `-` and a `+` in the prediction. Sorry for that. (I shouldn't code late at night.)
2. FDR estimation: I never investigated the FDR estimation code. A quick look shows some `unique(peptide.seq)` calls. So I think it should work as expected. I will investigate this later.
3. After using `unique(peptide.seq)` the new loess model (using

[2016-01-24 17:22] #107 closed

[2016-01-25 19:49] sgibb commented on #39
@pavel-shliaha asked me to look at some wired results of the detector saturation correction using the `reference` method.

# DDPHACYSTVFDK
![dd](https://cloud.githubusercontent.com/assets/1828443/12561773/18327606-c3a2-11e5-871a-effa73854ba1.jpg)

99.92 % of the complete signal after reference requantification is from the 500 fmol samples. Why this happen? If you look at the `fData(x)$isotopicDist

[2016-01-30 17:48] pavel-shliaha commented on #39
Thanks for having a look into it. In both cases it is the artifact of plotting requantified results, not of requantification itself. What I mean is that the code to plot requantification is just for the paper it is not a part of basic synapter functionality (unless we want to give visualisaion tool to the user?) About the peptides:

1) for "DDPHACYSTVFDK" there is a plot before ("none") requantifi

[2016-01-30 20:25] sgibb commented on #39
The "none" plot comes from the "rescued" identification data. Because there is no match in the grid search we could not transfer quantitation data. In the current approach we just have the isotopic distribution for the quantitation data (because we don't read the ident pep3d data yet).

It would be a big pain but it seems we need to import the ident pep3d data as well.

[2016-01-30 22:13] sgibb commented on #39
Sorry, my fault. It seems that the `rescueEMRTs` method rescues just the count data. That's why we lose the isotopic distribution information here.

[2016-01-30 22:15] sgibb opened #108 "rescueEMRTs should rescue everything"
In the current development version `rescueEMRTs` rescues just the count data but we need all pep3d data, see also #39.

[2016-01-31 10:34] sgibb commented on #108
When we call `rescueEMRTs` currently just save the Counts by doing the following:
[code]
It would be possible to transfer more features. But which ones are important (do we want to have all the `*.quant` columns transferred?)?
[code]

[2016-01-31 11:10] sgibb commented on #39
It is not as easy as I thought. `rescueEMRTs` copies data from the merged data (ident peptide data and quant peptide data; used for the lowess model) to the matched data (results of the grid search). But the peptide data don't contain any isotopic distribution information. That's why `rescueEMRTs` has to look up at least the isotopic distribution in the pep3D data.

[2016-01-31 14:50] pavel-shliaha commented on #108
All of the information that is added during transfer should also be added during rescue, i.e. after synapter the a rescued and transferred peptide should only differ by one column: "idSource"

[2016-01-31 20:01] #108 closed

[2016-02-01 17:53] sgibb commented on #39
After fixing #108 the `isotopicDistr` column is rescued as well and the figures look better (but even now the "sum" seems to be more sufficient than the "reference" method):

![ions_reference2](https://cloud.githubusercontent.com/assets/1828443/12725856/022ded0e-c915-11e5-86a7-f0207129e5fb.jpg)
![ions_reference3](https://cloud.githubusercontent.com/assets/1828443/12725857/0238bf9a-c915-11e5-96b4-2

[2016-02-04 18:02] lgatto commented on #97
I will investigate this. Could one of you point me the a set of files I can use to reproduce. What version/branch has this been observed with?

[2016-02-04 18:13] sgibb commented on #97
As noted above I can't reproduce this. It happens in branch 2.0. E.g. I tried it with the Kuharev data on molerat and it works fine (`molerat:/disk1/sg777/synapter2paper/kuharev2015/synapter2`)

[2016-02-04 18:46] lgatto commented on #97
I will try it on a Windows machine too. Of course, if we can't reproduce, it will be difficult to do anything, but worth a try.

@pavel-shliaha could you try to check/set the memory on you computer - see `?memory.limit`.

[2016-02-08 16:27] pavel-shliaha opened #109 "remove plotFragmentMatchingDiff from help"
plotFragmentMatchingDiff  is no longer available, hence we should remove it from help description

[2016-02-08 20:09] pavel-shliaha opened #110 "very strange performance function behaviour"
The performance function and performance 2 behave very strangely. For the data in:

setwd ("Y:\\RAW\\pvs22\\_QTOF_DATA_data3\\synapter2paper\\kuharev2015\\bugs_investigation\\S130423_09")

"Y" is \\prot-filesvr1

synapterAnalysis <- readRDS("synapterAnalysis.RDS")

(S) Synapter: 12813 EMRTs uniquely matched.
(I) Ident: 24081 peptides.
(Q) Quant: 11501 peptides.
Enrichment (S/Q): 11.41%
Overlap:

[2016-02-08 20:32] #109 closed

[2016-02-08 21:41] sgibb commented on #110
While looking at this I found something strange in the `performance` function:
[code]
What do the differences/intersection of `precursor.leIDs` tell us? Isn't that useless? E.g. if we use a master file we regenerate the `precursor.leIDs` as `1:nrow(x)`. The same `precursor.leID` in different runs means nothing or I am wrong?

Shouldn't we do something like:
[code]

[2016-02-08 21:46] sgibb commented on #110
Sorry, my fault. I missed the most important line:
[code]

The `spectrumID` corresponds to the `quant$precursor.leID` so it seems all right.

[2016-02-09 17:19] pavel-shliaha commented on #110
tested it with new synapter version. Does not seem to work.

[2016-02-09 17:23] sgibb commented on #110
@pavel-shliaha sorry if this was misleading. I didn't fixed anything yet.

[2016-02-09 17:24] pavel-shliaha commented on #110
no probs, sorry

[2016-02-09 19:45] sgibb opened #111 "unrecognized multiple matches in the grid search"
While investigating #110 I recognized that there are some multiple matches that are not filtered by fragment matching. It happens because they are not marked as multiple matching.

Currently the grid search finds multiple matching quants for one ident. But if the idents are close together it could happen that they are matched to the same quant entry, e.g.:

| |protein.Accession|protein.Description

[2016-02-10 22:16] pavel-shliaha commented on #111
@sgibb sorry for the delay in reply. This is not unexpected and I would not worry about it or change synapter functionality in any major way. If you relax the thresholds more you will see more of such instances. I would also expect the number of such instances to be very small (which is what you see). I would suggest the following:

1) after matching (including fragment matching) delete EMRTs that

[2016-02-22 17:59] sgibb commented on #111
We can't do this. `Counts` is a `numeric` column. We could set `Counts` `NA` (or remove the entries completely). Or we introduce yet another column `EMRT_matched_to_multiple_Ident_peptides` with `TRUE/FALSE` (that would be again another often useless column).

[2016-02-22 18:01] pavel-shliaha commented on #111
NA is good enough for me

[2016-02-22 19:29] hsiaoyi0504 commented on #105
Do you know how to convert the raw data to any kinds of format?

[2016-02-22 20:03] sgibb commented on #111
There is a new method `filterNonUniqueIdentMatches` now, that set all these `Counts` to `NA`, adds a new column, namely `matchedMultipleIdentEMRTs` (with `TRUE`/`FALSE`) and set the content of the column `synapterPlgsAgreement` to `multiple_ident_matches`.

[2016-02-22 20:03] #111 closed

[2016-02-22 21:03] pavel-shliaha commented on #105
Does your data have mobility dimension?

[2016-02-23 01:20] hsiaoyi0504 commented on #105
Yes

[2016-02-23 02:15] pavel-shliaha commented on #105
I am not sure there is an open data format for mobility data. Formats like mzXML/mzML contain individual spectra that correpsond to a certain retention time. An "open data format" for mobility data means that every scan is assigned a retention time and drift time. I am not sure that mass spectrometry community has worked out such a format. If you question is how to extract such data from raw files

[2016-02-23 02:28] pavel-shliaha commented on #105
Forgot to mention: new synapter version has mobility matching of fragments to precursors, but:
1) it works with XML files, in which fragment EMRTs have been matched to precursors
2) it only works for HDMSE, not IMS-DDA like in the aforementioned paper

[2016-02-23 02:28] hsiaoyi0504 commented on #105
OK, thank you for your reply.
But I still have one question, what do you mean a retention time and drift time? I think it's the same thing, or maybe I am wrong....

[2016-02-23 02:54] pavel-shliaha commented on #105
No they are not the same. If you look at "normal" LC-MS/MS data at every point of retention time you have a spectrum (MS1 or MS2). In LC-IMS-MS data at every point of retention time you have a "block", which is composed of 200 spectra. The number of spectrum in the "block" represents the drift time.
![capture](https://cloud.githubusercontent.com/assets/1895805/13240218/1e4c3cc0-d9e1-11e5-97c3-22d7

[2016-02-23 03:00] hsiaoyi0504 commented on #105
But in the LC-IMS case, they are the same or maybe we should say there are only retention time?

[2016-02-23 03:01] pavel-shliaha commented on #105
LC-IMS? I dont understand. What instrument are you running? Dont you have MS?

[2016-02-23 03:06] hsiaoyi0504 commented on #105
Oops, maybe I misunderstand that your LC-IMS-MS as a kind of tandem mass
And I think what I want to ask is that for the case of IMS-MS.

[2016-02-24 15:04] pavel-shliaha commented on #105
I think I might have an answer for you after all. As far as I remember you can go to driftscope and remove 1 dimension of data preserving either retention time (in your case time of acquisition) or drift time in a fileof LC-MS format. So ask your collaborators to do that and then you will have a file which looks like LC-MS, but LC will represent IMS. You can then export this file using MSConvert i

[2016-02-24 19:47] sgibb commented on #110
Ok, the problem is maybe that I didn't document the `plotFragmentMatching` function properly.
The EMRTs are categorised into `unique-true`/`unique-false` (or `non-unique-true`/`non-unique-false`) according to the `precursor.leID.quant` column in the *MergedFeatures* data.frame (same id == true match, otherwise false match (I now changed it in the following commit: https://github.com/lgatto/synapte

[2016-02-24 20:26] pavel-shliaha commented on #110
sorry, Sebastian, my bad. I now understand that what happens actually makes sense!

[2016-02-24 20:28] #110 closed

[2016-03-16 10:16] yajin2016 opened #112 "Error: "The Pep3D file does not correspond to the given Quantitation Final Peptide file!""
Hi, I installed R 3.2.3 and newest synapter and ran the following lines referring to the recommended settings :

+   fdrMethod = c("BH", "Bonferroni", "qval"), fpr = 0.01, peplen = 7,
+   missedCleavages = 0, identppm = 20, quantppm = 20, uniquepep = TRUE,
+   span = 0.05, grid.ppm.from = 2, grid.ppm.to = 20, grid.ppm.by = 2,
+   grid.nsd.from = 0.5, grid.nsd.to = 5, grid.nsd.by = 0.5,
+   grid.su

[2016-03-16 21:01] sgibb commented on #112
You are right. This error was caused by mismatching IDs between the Pep3D and quantitation final peptides file. Did you have another PLGS version to test?

[2016-03-16 21:25] pavel-shliaha commented on #112
this is easy to test. Load your final_peptide and P3D file as dataframes in R and merge them by the EMRT number. If the mz in final_peptide and P3D wont agree then you have a problem in your data. I can help you with this if you dont have much R experience. Just add yourself to my skype: pavel_shliaha

[2016-03-17 02:34] yajin2016 commented on #112
@ yes, I used 3.0.2 for these data, but I have the older version 2.5.2.

@pavel-shliaha Thank you so much! I would like to do the test, if you can teach me how, it will be great.  I already add you as an skype contact.

[2016-03-20 11:32] sgibb commented on #106
After https://github.com/lgatto/MSnbase/pull/72 was merged we can use `nQuants(x, groupBy = fData(x)$protein.Accession)`. The `$` operator supports auto-completion that means we could reintroduce #99. While it would simplify the synapter workflow for multiple runs using a fragment library it would be more difficult to work with a single synapter run (because the user has to know that the columns a

[2016-03-20 11:46] sgibb commented on #112
@yajin2016 I don't know whether you already talked to @pavel-shliaha but you can try the following to investigate your problem:
[code]

[2016-03-20 13:58] yajin2016 commented on #112
@sgibb Many thanks.  I've contacted with Pavel and he taught me step by step how to test the data.  Then I found the error was caused by the encoding thing of PLGS output of _IA_final_peptide.csv files.

At first I ran the following lines:

`setwd("F:/F/Jin-16/Synapter/1")`
`MSE_final_peptide <- read.csv("MSE-S1_IA_final_peptide.csv",stringsAsFactors = FALSE) `

Below is the snapshot of the result

[2016-03-20 14:48] pavel-shliaha commented on #106
I agree as a user I would prefer 99 to be reintroduced.

[2016-03-20 15:28] sgibb commented on #106
#99 is again part of synapter 2.0

[2016-03-20 15:28] #106 closed

[2016-03-20 18:51] pavel-shliaha commented on #39
@sgibb does the saturation threshold represent intensity for an ion or for the peptide? It has to be consistent in all types of saturation correction.

[2016-03-20 19:32] sgibb commented on #39
If the intensity of an ion is higher than `saturationThreshold` it is considered as saturated (for all methods).

[2016-03-20 20:30] pavel-shliaha commented on #39
@sgibb can you also clarify what happend to data that does not need to be corrected? E.g. if saturation threshold is 10k and there is two peptides:

1) should not be corrected (i.e. no ions over 10k in the peptide)
2) should be corrected but cannot be corrected (i.e. there are no ions below 10k to correct)

[2016-03-23 13:59] pavel-shliaha commented on #39
It seems synapter introduces non 0 (and non NA) values into expression matrix, when it corrects saturation by th methods). E.g.

![image](https://cloud.githubusercontent.com/assets/1895805/13987332/5aa9907c-f107-11e5-8be9-3c99cdffd948.png)

I think this happens because correction works with the isotopicDistr columns and they contain data even if the correpsonding sample has NA in expression table.

[2016-03-23 15:26] pavel-shliaha commented on #39
saturation should be corrected focusing on particular ions (i.e. particular isotope and charge state), i.e. that  synapter:::.sumIsotopes() should be removed and the function should be modified to work with individual charge states.

[2016-03-23 18:26] sgibb commented on #39
1. Overwritting missing values (`NA`s) is fixed.
2. Why? And how should we predict the Counts (sum of all ions from a single ion (isotope + charge state)? Using the sequence information we can predict the distribution of the isotopes but not the different charge states (how to know that there are 2+, 3+ and 4+ in the example below and that 4+ could be neglected). Using the information of just one

[2016-03-23 18:33] sgibb commented on #39
An alternative would be to estimate the `mean`/`median`/`weighted.mean` counts for each charge state individually and sum them up afterwards, e.g.:
[code]

[2016-03-23 22:03] pavel-shliaha commented on #39
actually now that I think about it, the best way is to use all ions below saturation thsehold individually without minding the charge state.So if you have

1_0, 1_1, 1_2
2_0, 2_1, 2_2

and 2_0 is below the threshold, use 1_0, 1_1, 1_2, 2_1, 2_2, just as you dd before, but dont sum isotopes across charge states

[2016-03-27 22:58] pavel-shliaha commented on #39
@sgibb another request (sorry). I think there is another problem, we need to only repredict intensity of the peptide onlyin the runs in which it is saturated. It seems that there is a lot of noise when repredicting from low intensity peptide.  I.e. if there is a situation: peptide 1 is 5e3 in run 1 and 5e5 in run 2 and saturation threshold is 1e4, then 5e3 should not be touched (no ions over satur

[2016-03-28 19:28] sgibb commented on #39
@pavel-shliaha IMHO this is already working as you want it:

[code]

[2016-03-29 22:50] pavel-shliaha commented on #39
@sgibb I think I finally understand what the problem might be:

when you perform combination of th table you use all charge states: e.g.

![image](https://cloud.githubusercontent.com/assets/1895805/14126333/7551de6c-f610-11e5-96f9-2163643b5068.png)

what this results in is that you predict 2_0 using 1_0 and 1_1, but you should only be using charge state 2, not 1. I understand that the idea of th i

[2016-03-30 18:29] sgibb commented on #39
I think you now understand the algorithm but your point 4) is wrong.

Just to ensure that we talking about the same piece of code. The following code is the same I send you yesterday:
[code]

Now regarding your points:

Correct, we use the `BRAIN` package to get this distribution from the peptide sequence (code is taken from above):

[code]

More or less correct, but I would say it in a slightly d

[2016-03-30 19:42] pavel-shliaha commented on #39
@sgibb yeah sorry, I agree. I misread the algorithm

[2016-03-30 20:25] sgibb commented on #39
Just for the record: We tried different packages for the theoretical isotopic distribution. They are all more or less the same but of course different from the observed one:

[code]

It seems that the higher isotopes are less abundant as they should be?
@pavel-shliaha Could there be something similar to saturation detection on the lower border?

[2016-04-07 13:46] pavel-shliaha commented on #39
Reference quantitation method was introduced to minimise the number of peptides that could not be requantified by sum method. By defenition of reference method it is clear that it should requantify the same amount or more of saturated peptides. However working with Kuhrev dataset there are 80 peptides that are successfully requantified by sum, but whih have all NAs in the reference method. These p

[2016-04-07 20:00] sgibb commented on #39
I don't check all peptides but there are at least the following problems in the current implementation:

1. `"reference"` looks for a an **unsaturated** run as reference. If there is none it will return `NA`, e.g. happens for `"FGLSLVR"` (we could easily change to the run with the highest intensity regardless of staturation or the highest number of unsaturated ions).
2. `"reference"` looks for com

[2016-04-08 14:29] pavel-shliaha commented on #39
1. you need to change that to look for a run that has a maximum number of unsaturated isotopes (not completely unsaturated).
2. this is inveitable, but do I understand correctly that sum in this situation would do the same.

[2016-04-08 14:58] pavel-shliaha commented on #39
about theoretical methods. It is interesting, but it appears that there is a systematic intensity bias against lower intensity ions. To invetigate this I have taken all peptides that have all ions below saturation threshold in Kuharev's dataset and compared the observed proportion of an isotopes among all isotopes and then emulated what I would expect theoretically using BRAIN package. Shown below

[2016-04-08 15:22] lgatto commented on #39
This could probably be accounted for using a similar approach than what we do for rt adjustment: regress with `lowess` and use it to correct/predict after correction for saturation.

[2016-04-09 14:53] pavel-shliaha commented on #39
@lgatto thanks for the suggestion.
@sgibb as we discussed yesterday the sum and refenrece detector saturation models as implemented now do not allow to do top3 quantitation. This happens since we simply through out isotopes over saturation threshold, decreasing intensities of the most abundant peptides.
I propose a solution analogous to the one we use in theoretical modeling for isotopes for detec

[2016-04-09 20:28] sgibb commented on #39
done.

yes, but there was a difference between reference and sum because I used `na.rm=TRUE` in sum. That results in counts that were 0 instead of NA. Is now fixed as well.

@lgatto I would assume that the `lowess` approach would just slightly improve the situation because the deviations are very largen and nearly equally distributed on sides of the horizontal zero line.

@pavel-shliaha Am I right

[2016-04-10 13:42] pavel-shliaha commented on #39
@lgatto I agree with sebastian, I think there might be too much spread to accurately reauqntify even if the lowess lines overlapped with 0 horisontal lines

@sgibb
1)yes that is what I would like to do. But I would like only peptides with ions over saturation to be corrected

2) I can explain why top3 will not work if you simply remove high intense ions.  The reason is that top3 reflects quantitie

[2016-04-10 16:06] sgibb commented on #39
@pavel-shliaha So there is a `rescaleForTop3` function now for you to test. If it is useful and correct I will change the name and add some documentation. You use this function as follows:
[code]

[2016-04-11 14:05] pavel-shliaha commented on #39
@sgibb still too peptides are requantified by sum but not by reference: "FFQELR"                   "ESNEITIIINPYRETVCFSVEPVK". Can u have a look?

[2016-04-11 19:42] pavel-shliaha opened #113 "problems with master construction"
@sgibb I get the following message trying to construct master:

Generating unique proteotypic peptides...
Error in duplicated(x) : object '.peptides' not found

the R script is in

Y:\RAW\pvs22\_QTOF_DATA_data3\synapter2paper\kuharev2015\bugs_investigation\master_construction_bug

the R script references all the files necessary

[2016-04-11 20:46] #113 closed

[2016-04-11 21:53] pavel-shliaha commented on #113
sorry now synapter fails to update

Warning: package 'BiocParallel' was built under R version 3.2.3
Warning in .recacheSubclasses(def@className, def, doSubclasses, env) :
  undefined subclass "externalRefMethod" of class "expressionORfunction"; definition not updated
Warning in .recacheSubclasses(def@className, def, doSubclasses, env) :
  undefined subclass "externalRefMethod" of class "functionOR

[2016-04-12 15:40] sgibb commented on #113
Are you sure you tried to install synapter 2.0 via `devtools::install_github("lgatto/synapter@2.0")`? Synapter 2.0 doesn't depend on BiocParallel anymore so this warning makes no sense to me. BTW would it be possible to update your R installation to R-3.2.4? 3.2.1 is quite old (> 9 month).

[2016-04-12 15:46] sgibb commented on #39
It is the other way around: both are requantified by reference but not by sum (what makes absolutely sense to me):
[code]

[2016-04-12 16:16] pavel-shliaha commented on #113
sorry guys forgot to specify quick = TRUE

[2016-04-17 18:12] pavel-shliaha opened #114 "bug in filterNonUniqueMatches"
the files and code are in: synapter2paper\\bugs

Error in `[<-.data.frame`(`*tmp*`, rows[keep], cols, value = list(precursor.leID.quant = c(7620,  :
  missing values are not allowed in subscripted assignments of data frames

[2016-04-17 18:19] #112 closed

[2016-04-17 20:16] sgibb commented on #114
JFTR: the reason for the bug was in the `.fragmentMatchingDifferences` function (but hits the `filterNonUniqueMatches` function) that looks for `non-unique-true` and `non-unique-false` matches but ignores the newly introduces `no-quant-id` result (which could contain multiple matches, too). Now we treat all matches with more than 1 match as non-unique onces.

[2016-04-17 20:16] #114 closed

[2016-05-10 13:24] pavel-shliaha commented on #39
Having problem applying the rescaleForTop3() function. Below is a figure of three datasets:
1) not requantified
2) requantified using SUM method
3) requantified using SUM method with the intensities repredicted by rescaleForTop3()

![image](https://cloud.githubusercontent.com/assets/1895805/15147327/6cfad02c-16c0-11e6-81b6-b02e147c2021.png)

I had a look at a peptide I thin is requantified incorre

[2016-05-13 19:11] sgibb commented on #39
It seems that it is not a bug but a feature. `rescaleForTop3` has an argument `onlyForSaturatedRuns` (default `TRUE`) that controls whether unsaturated runs should be rescaled or not. I modified you plotting function and marked all unsaturated peptides with black dots and you can see that they cause the wired pattern after rescaling (because they are not requantified or rescaled at all):
![rescale

[2016-05-13 19:30] sgibb commented on #39
Another figure for the same fact (please note that the colours have different meanings now: blue: no saturation; red: saturation in one sample (A or B; that is the important fraction that cause the "strange" behaviour in the bottom left panel); green: saturation in both samples:
![rescaletop3](https://cloud.githubusercontent.com/assets/1828443/15259483/cef567fe-1951-11e6-8ead-167bcf53963e.png)

[2016-05-14 10:33] sgibb commented on #39
## basic information

[code]

[code]

[code]

[code]

[code]

## intensity table

[code]

|        | S130423_05| S130423_07| S130423_09| S130423_11| S130423_13| S130423_06| S130423_08| S130423_10| S130423_12| S130423_14|
|:-------|----------:|----------:|----------:|----------:|----------:|----------:|----------:|----------:|----------:|----------:|
|initial |   49781.00|   44995.00|   35202.00|

[2016-05-16 16:28] pavel-shliaha commented on #39
Hey Sebastian I think u pinpointed the problem yourself here. It is indeed incorrect to include saturated runs into calculation of correction factor.

I believe you got confused: onlyForSaturTedRuns refers to whether u have to requantify all peptides or only those above saturation threshold, the correction factor should always be computed on unsaturated peptides only. This is analogous to isotopic

[2016-05-19 16:51] pavel-shliaha commented on #39
Hey Sebastian,

please execute this code and tell me what you see

library(synapter)

combMSNSet <- readRDS ("Y://RAW/pvs22//_QTOF_DATA_data3//synapter2paper//kuharev2015//synapter2//output//UDMSE//refcombMSNSet.RDS")
satThresholdIon <- 3e4

satCorrected <- sapply (c ("sat", "sum", "reference"),
                        function (x) NULL)

satCorrected[[1]] <- combMSNSet

satCorrected[[2]] <- requa

[2016-05-20 09:32] sgibb commented on #39
@pavel-shliaha I got the same output. Now I finally understand what you mean with `"FFQELR"` and `"ESNEITIIINPYRETVCFSVEPVK"` are requantified by `"sum"` but not by `"reference"`. You mean that the intensities with and without reference requantification are identical.

I looked into `"FFQELR"`. Just as reminder the isotopic distribution:
[code]
It is a special case: all but one run (S130423_09) ar

[2016-05-22 17:40] sgibb commented on #39
For the `ESNEITIIINPYRETVCFSVEPVK` the only saturated run is also the reference run (same situation as for `FFQELR` above).

I hope the onlyForSaturatedRuns problem is fixed now:
![rescaletop3](https://cloud.githubusercontent.com/assets/1828443/15455441/c7c85b58-2054-11e6-8052-beb421ae5092.png)

[2016-05-24 04:56] pavel-shliaha commented on #39
# load the reference data
# execute the function plotProteomes at the bottom

library (synapter)
library (MSnbase)

combMSNSet <- readRDS ("Y://RAW/pvs22//_QTOF_DATA_data3//synapter2paper//kuharev2015//synapter2//output//UDMSE//refcombMSNSet.RDS")
combMSNSet <- normMSnSet (combMSNSet)

exprs (combMSNSet)[featureNames (combMSNSet) ==   "ILFDYSK", ]
satThresholdIon <- 3e4
satCorrected <- sapply (c (

[2016-05-24 15:25] pavel-shliaha commented on #39
sorry yet another issue

# sum method

library (synapter)
library (MSnbase)

combMSNSet <- readRDS ("Y://RAW/pvs22//_QTOF_DATA_data3//synapter2paper//kuharev2015//synapter2//output//UDMSE//refcombMSNSet.RDS")
satThresholdIon <- 3e4
satCorrected <- sapply (c ("sat", "sum")

satCorrected[[1]] <- combMSNSet

satCorrected[[2]] <- requantify (combMSNSet, method = "sum",

[2016-05-24 20:02] sgibb commented on #39
**The `th.*` problem:**

[code]
Above we see the first problem: There are not any isotopes below the saturation threshold for the first 5 runs. So we can't predict anything here (explains the `NA`/`0.0` in the first five columns of your table).
[code]

And here we see the second problem. Allmost all two-charged ions are saturated (and not used for the prediction) that's why our predicted intensiti

[2016-05-25 05:09] pavel-shliaha commented on #39
for sum method can you please no consider runs, for which we dont have peptide identity i.e. all the isotopes are NA. Simply ignore the line or convert to 0. This is the final fix I need to finish the paper. For the theroretical methods we need to think what to do in instances like the one above where requantification is not possible.

[2016-05-25 06:27] lgatto commented on #39
Converting to 0 is not advisable. If a line is ignored, this would need to be recorded somewhere, or reported to the used at the very least. The best is to keep all features, but set those that don't return any value to `NA`. It is then just a matter of calling `filterNA` to remove then afterwards.

[2016-05-25 11:32] pavel-shliaha commented on #39
sorry guys did not mean to tell you how to code

[2016-05-25 12:33] lgatto commented on #39
No worries - I just wanted to make sure we stay away from wild 0-imputation.

[2016-05-25 19:40] sgibb commented on #39
Ok, now missing runs (runs without any recorded intensity value) are ignored for `requantify(..., method="sum", onlyCommonIsotopes=TRUE)`:

[code]

|      | S130423_05| S130423_07| S130423_09| S130423_11| S130423_13| S130423_06| S130423_08| S130423_10| S130423_12| S130423_14|
|:-----|----------:|----------:|----------:|----------:|----------:|----------:|----------:|----------:|----------:|-------

[2016-06-13 16:37] pavel-shliaha commented on #39
Hey Sebastian. Problems again. Please have a look.

satThresholdIon <- 3e4
combMSNSet2  <- readRDS ("Y://RAW/pvs22//_QTOF_DATA_data3//synapter2paper//kuharev2015//synapter2//output//UDMSE//combMSNSet.RDS")
combMSNSet2 <- requantify (combMSNSet2, method = "sum",
                           saturationThreshold= satThresholdIon,
                           onlyCommonIsotopes=FALSE)

getting the followi

[2016-06-13 19:45] sgibb commented on #39
I never see this kind of error before. It seems that the peptide `YATALAK`(row `3412`) has just `NA` values (except `precursor.mhp.S130423_05`: `737.4174`). I don't know why this happen.

Nevertheless it was a bug, that the functions could not handle entries without any non-`NA` value. That is fixes now.

@pavel-shliaha: Why we didn't recognize this before. Where does `YATALAK` come from?

[2016-06-26 09:13] pavel-shliaha commented on #97
lets keep this one open. Still seeing the problem

[2016-06-26 09:14] pavel-shliaha commented on #73
can be closed

[2016-06-26 09:16] pavel-shliaha commented on #70
have to look into this more

[2016-06-26 09:17] pavel-shliaha commented on #43
this can be closed, since as we have seen isotopic distributions are not really super reliable

[2016-06-26 09:17] #43 closed

[2016-06-26 09:18] pavel-shliaha commented on #39
lets keep this issue open for now

[2016-06-27 14:16] #73 closed

[2016-06-29 11:22] pavel-shliaha opened #115 "add distribution of common fragments between master and all quant dataset"
Synapter 2.0 performs less effectively on G2 data as we saw from organelle proteomics dataset. This happens because the merged peptides in quant run have more common peptides than the general population. This is expected since the merged peptides are the ones that got identified at low FDR hence their spectra is of higher quality. TO solve this problem I suggest to add a third plot to plotFragment

[2016-06-29 19:17] sgibb commented on #115
Instead of adding a new plot we could simply add a new line:
![fmperf](https://cloud.githubusercontent.com/assets/1828443/16465211/de9df110-3e3d-11e6-9928-d2d50874c177.png)

Now the differences between true and false matches are not really visible anymore. What about log the y-axis?
![fmperflog](https://cloud.githubusercontent.com/assets/1828443/16465237/fafbbefa-3e3d-11e6-9d0d-06e7dc88cf26.png)
(

[2016-06-29 19:24] pavel-shliaha commented on #115
I would still prefer a new plot ))). The reason is that there is much more peptides in full dataset than there are in the merged dataset and so the merged dataset gets compressed

[2016-06-29 19:55] sgibb commented on #115
Ok I added an argument `showAllPeptides` (default `FALSE`) to the `plotFragmentMatchingPerformance` function. `TRUE` would create the first of the three plots above and `FALSE` the original one.

[2016-08-01 11:41] pavel-shliaha opened #116 "intensity normalisation by LOWESS"
Apparently a lot of label-free algorithms these days have a normalisation functionality for intensity throughout the run, since there is a systematic drift of intensities at different timepoints of acquisition: i.e. for example that at 10min of quant run all peptides are 0.9 or 1.2 in intensity than in identification run

to counter it I suggest ab approach similar to the one in isoquant (see belo

[2016-08-02 15:23] sgibb commented on #116
Sry, for being unresponsive for such a long time.

I need some clarifications:

1. During master creation: How to correct the intensities, here? Currently we just ignore them. BTW: this will also affect the fragment library (where we use some kind of mean intensity).

2. What is an "average peak cluster intensity"?

3. Would it be possible to create the LOWESS model after saturation correction (or

[2016-08-02 17:51] pavel-shliaha commented on #116
most important point: THINK ABOUT DRIFT IN INTENSITY IN THE EXACT SAME WAY YOU THINK ABOUT DRIFT IN RETENTION TIME

To answer you questions:

2) average peak cluster intensity is average intensity within a given period of time, e.g.: you can find that all peptides at timepoint 10.5-11min have an average ratio of 0.9 to the master. This can happen if there was smth wrong with the spray at this part

[2016-08-03 12:12] #115 closed

[2016-08-03 20:46] sgibb commented on #116
Currently we don't store any peptide intensity information in the master object (just the `precursor.inten`). The master is created from the final peptide files. The following intensity columns would be available: peptide.MatchedProductsSumInten, peptide.RelIntensity, precursor.inten, precursor.calcInten

Is `peptide.MatchedProducsSumInten` the correct column?

Or do we need to import PEP3D files

[2016-08-03 22:03] sgibb commented on #116
Will that working at all (especially for this dataset)? The Kuharev dataset contains 5 % E. coli and 30 % Yeast in sample A and 20 % E.coli and 15% Yeast in sample B. If we select sample A as master and B as slave (quant) run we expect an intensity ratio of 1/4 for E.coli and 2/1 in Yeast. In the worst case we have the same number of proteins indentified for both and lowess would pick an average o

[2016-08-03 22:15] pavel-shliaha commented on #116
Exactly; normalisation will only work if the majority of the proteins is at ratio 1:1, this is not true for samples B and A, hence they should not be normalised against each other.

so the master should also be created separately for A and B if the functionality is to be used.

[2016-08-04 09:20] sgibb commented on #116
Sorry I made a copy and paste error (the LOWESS line in the image above is the *retention time vs. diff(retention time* model). Here is the correct image:

![rplot001](https://cloud.githubusercontent.com/assets/1828443/17396356/577bd622-5a33-11e6-802e-d5511a47819c.png)

As we discussed in our skype chat it could work for A and B samples if the majority of the intensity values have a ratio master/s

[2016-08-04 09:23] pavel-shliaha commented on #116
Thanks! Will play around with this over the weekend. Wanted to ask you to log2 ratios but you've done it already I presume?

Also around 145 min you see bad spray.

[2016-08-04 10:07] sgibb commented on #116
It is not ready yet. Currently it just corrects the intensities during master creation. There is no correction for ident/quant. I drop you a note when you can start testing.

I am wondering where to do the ident/quant intensity correction. It should be possible to run it as additional step after the whole synpater workflow because we store the `precursor.inten`, `precursor.retT` columns from the i

[2016-08-04 10:18] pavel-shliaha commented on #116
I am wondering where to do the ident/quant intensity correction. It should be possible to run it as additional step after the whole synpater workflow because we store the precursor.inten, precursor.retT columns from the identification run and add the Counts column from the quantitation run. But is that reasonable? @pavel-shliaha Do you have any suggestions?

during master creation, intensity shoul

[2016-08-04 10:43] sgibb commented on #116
I understand but this column could be created at any time, or? I just not sure when it is reasonable (e.g. create the column after `findEMRTs` or don't create this column in synapter at all but on the final MSnSet (because we have all the necessary information in the `fData`).

Currently I think the easiest would be to do this at MSnSet level (at least for testing and playing around).

[2016-08-04 10:47] pavel-shliaha commented on #116
I think this should be created when an explicit command is called, after merging the commonly identified peptides (just like modelling retention time, it will allow to keep track of the pipeline).

[2016-08-11 16:35] sgibb commented on #116
Now a basic version of intensity correction is implemented.

Just run synapter as usual. Before you transform the synapter object into a `MSnSet` call `modelIntensity`. This will add a new column `intensityCorrectionFactor` to the `MatchedEMRTs` `data.frame`. After `as(x, "MSnSet")` you can access this column via `fData(msnset)$intensityCorrectionFactor`.

After combining multiple `MSnSet` objects

[2016-08-15 13:51] sgibb commented on #116
The current calculation for master is:
[code]

for quant vs master (ident):
[code]

[2016-08-16 19:56] pavel-shliaha commented on #116
cool is there a function to visualise this (like the figures shown above?)

[2016-08-25 15:15] pavel-shliaha commented on #116
hey guys it works! I get lower CVs with normalisation when LOWESS correction is used than when I use normalisation post run. However synapter complains that correctIntensities does not exist instead I used:

exprs (combMSNSet) <- exprs (combMSNSet) * (2^fData (combMSNSet)[, grep("intensityCorrectionFactor", colnames (fData (combMSNSet)))])

sebastian could you please have a look at that?

[2016-08-29 15:23] sgibb commented on #116
The name of the function is: `correctIntensity` (note the `y` instead of the `ies` at the end).

While I am happy to hear that it seems working I guess the effect is due to the master intensity correction.
Because your approach should produce a lot of wrong values. The `intensityCorrectionFactor` column contains the intensity correction factor (meaning it is already `2^x`). The correct way of doin

[2016-09-05 10:03] sgibb opened #117 "fix example in Synapter.Rd"
especially demonstrate 3D grid search, fragment matching, intensity correction

[2016-09-06 18:44] sgibb commented on #116
So, there is a new function `plotIntensity` (it is nearly identical to `plotRt`):

![s130423_07 rds_003](https://cloud.githubusercontent.com/assets/1828443/18286257/3b27ea34-7472-11e6-8f65-733ec2f7396d.png)
![s130423_07 rds_004](https://cloud.githubusercontent.com/assets/1828443/18286260/3b292a5c-7472-11e6-8b1b-c539480f1f9d.png)
![s130423_07 rds_005](https://cloud.githubusercontent.com/assets/1828

[2016-09-09 12:09] lgatto opened #118 "Data package of interest"
Just wanted to share this data package that I had missed
[code]

[2016-09-16 02:58] pavel-shliaha commented on #116
getting the following error:

synapterAnalysis <- readRDS ("Y:/RAW/pvs22/_QTOF_DATA_data3/synapter2paper/kuharev2015/synapter2_intensity/output/UDMSE//S130423_05//synapterAnalysis.RDS")
modelIntensity(synapterAnalysis )

Error in model.frame.default(formula = y ~ x) :
  invalid type (NULL) for variable 'y'

can you please have a look?

[2016-09-16 03:25] pavel-shliaha commented on #39
requantify (readRDS("Y://RAW/pvs22//_QTOF_DATA_data3//synapter2paper//kuharev2015//synapter2_intensity//output//UDMSE//refcombMSNSetNS.RDS"),
            method = "th.mean",
            saturationThreshold= 3e4)

returns

Error in Mod(z$values) : non-numeric argument to function

could you please have a look

[2016-09-16 13:29] sgibb commented on #39
I have currently no access to *prot-filesrv1* (networkmanager-strongswan plugin seems to not accept/send the password). Can you send me the `refcombMSNSetNS.RDS` via e-mail/dropbox/google drive?

[2016-09-16 16:37] pavel-shliaha commented on #39
shared the file with you via google drive

[2016-09-16 17:23] sgibb commented on #39
Sorry, but I can't reproduce the error. Just works for me. Could you try again and directly call `traceback()` after the error. Also the output of `sessionInfo()` could be helpful.

[2016-09-19 08:05] sgibb commented on #116
14 days ago I decided to store calculate the intensity ratio `intenRatio` during the merging process (in the same manner as `deltaRt` is stored). So it seems that your `synapterAnalysis` was created before and `intenRatio` is indeed missing. Please try to recreate `synapterAnalysis` with the latest synapter.

Before we create the final manuscript we have to ensure that we are using the most recent

[2016-09-21 02:03] pavel-shliaha commented on #116
The plotIntensity() works with the new synapter version after recreating synapter objects. But there are two problems:

1) when I run plotIntensity (synapterAnalysis, what = "model")

I get the following error:
Error in plot.window(...) : need finite 'ylim' values
In addition: Warning messages:
1: In min(x) : no non-missing arguments to min; returning Inf
2: In max(x) : no non-missing arguments to

[2016-09-21 03:32] pavel-shliaha commented on #39
@sgibb started having trouble with the theoretical method as soon as I updated synapter. I have shared the file with you through google drive.

testMSNSet <- readRDS ("MSnbaseProblemRequant.RDS")

satThresholdIon <- 3e4

requantify (testMSNSet, method = "th.mean",
            saturationThreshold= satThresholdIon)

error:

Error in Mod(z$values) : non-numeric argument to function

[2016-09-21 03:50] pavel-shliaha commented on #39
Sorry guys now it works after restarting R session (but I also restarted before posting). I am not sure but perhaps this intermittent error has smth to do with the BRAIN package.

[2016-10-10 17:44] sgibb commented on #116
I think 1. is a similar/the same problem as you described in: https://github.com/lgatto/synapter/issues/39#issuecomment-248502081 and solved in: https://github.com/lgatto/synapter/issues/39#issuecomment-248504276

Regarding the colour of the points: Currently we use an alpha (transparency) of 0.5 (1 means no transparency and 0 no colour). IMHO we should not decrease alpha (increase transparency) b

[2016-10-14 19:45] #37 closed

[2016-10-14 19:45] #39 closed

[2016-10-14 19:45] #116 closed

[2016-10-14 19:49] sgibb opened #119 "synergize2 needed?"
In synapter 1 we had a `synergize` function to run the typical workflow and generating a report. Should we provide a similar method `synergize2` for the new synapter including 3d grid search, fragment matching etc.?

Or should we remove even the old `synergize` and let the user build his own workflow?

[2016-10-14 19:50] sgibb opened #120 "Replace hwriter report by knitr in synergize"
only valid if #119 is accepted (implement `synergize` and `synergize2`).

[2016-10-14 20:16] lgatto commented on #119
Yes, I would suggest a `synapter2` function is the way forward because
1. It is easier to start from scratch rather then modifying an existing function.
2. We keep implicit backward compatibility.

[2016-10-14 20:18] lgatto commented on #120
Yes, given that my preference goes for a `synapter2` function, replacing `hwriter` by a `knitr` report or, better, a fancy `shiny` app, would be cool.

[2016-10-16 14:12] #95 closed

[2016-10-16 14:56] #81 closed

[2016-10-17 15:31] #120 closed

[2016-10-17 18:14] sgibb commented on #83
We have to update `synobj2` in `synapterdata` as well.

[2016-10-19 09:01] sgibb opened #121 "Update synapter-package.Rd"
Especially remove `synapterGUI` and mention `synergise2`.

[2016-10-19 09:02] sgibb opened #122 "increase class version to 2.0 and regenerate data/synapterTiny.rda"

[2016-10-19 09:41] sgibb opened #123 "regenerate synapterdata::synobj2 and create_synobj2.R"
has to be done after fixing #122.

Additional a new `synapterdata/inst/scripts/create_synobj2.R` is needed:

[code]

Please note that we use `synergise1` here (not `synergise2`) because we want to demonstrate the fragment matching in the vignette and explain step by step what `synergise2` does.

[2016-10-19 11:46] #83 closed

[2016-10-19 11:47] sgibb opened #124 "Vignette for synergise2"

[2016-10-19 11:57] sgibb commented on #122
I already did this by `updateObject(synpaterTiny); save(synapterTiny, file="inst/synapterTiny.rda", compress="xz")` in https://github.com/lgatto/synapter/commit/d004917a67765a9edf2befa249beaeb70ae2a1f8 but I would prefer to create the dataset from scratch. Hopefully `updateObject` works correctly but I don't want to rely on this.
@lgatto could you recreate the `synapterTiny` object?
The data shoul

[2016-10-21 11:34] sgibb opened #125 "add fragment/spectrum file to `show` output"

[2016-10-22 11:21] sgibb opened #126 "modelIntensity and correctIntensities is counterintuitive"
The current workflow using `modelIntensity` and `correctIntensities` is counterintuitive.
While `modelRt` build the rt model and corrects the retention times the `modelIntensity` functions just creates the model and a new column `intensityCorrectionFactor`. In contrast to the rt correction the user has to apply the `correctIntensities` functions manually on a `MSnSet`:
[code]

I would suggest to c

[2016-10-22 11:30] pavel-shliaha commented on #126
very nice thinking! I completely agree with that!

[2016-10-24 17:40] sgibb commented on #123
@lgatto I am thinking it would be useful to *not* run `synergise1` (it doesn't take too much time) and then we could use `synobj2` as example for `synergise2` as well.

So just:
[code]

[2016-10-25 16:27] #119 closed

[2016-10-26 06:31] #125 closed

[2016-10-26 18:02] #126 closed

[2016-10-28 14:31] #121 closed

[2016-10-28 15:07] sgibb commented on #117
We need a dataset with fragments and spectra data here. This is very large and after #123 is fixed it would be available in `synapterdata`. I would suggest to keep the `synergise1` workflow in this man page and link to a to be written vignette #124 for the `synergis2` workflow.

[2016-11-16 15:58] sgibb opened #127 "Document the columns in the files generated by `writeMatchedEMRTs`."

[2016-11-29 10:01] pavel-shliaha opened #128 "fm.fdr.nonunique seems not to work in synergise 2. Perhaps it does not override fm.minDelta?"
I have tried running synergise2 and for fragment matching I have specified fm.fdr.nonunique = 0.05. Note that I did not specify any argument for fm.minDelta, which defaults to 2.  fm.fdr.nonunique and fm.fdr.unique should override fm.minDelta and  fm.minCommon respectively

As a result when I run the pipeline with explicit commands I get that 0.05 fdr fm.fdr.nonunique should pick 1 as delta for no

[2016-12-02 20:10] #128 closed

[2016-12-02 20:47] sgibb commented on #127
@pavel-shliaha Could you please add (by clicking `edit`) the missing cells? I will add it as man page than.

# IdentPeptides.csv

| Column                    | Description                                              |
|---------------------------|----------------------------------------------------------|
| protein.Accession         | UniProt Accession Number                                 |
| p

[2016-12-08 15:16] pavel-shliaha opened #129 "issue with synergise"
Getting the following issue with synergise now, after installing the new verison:

Quitting from lines 263-287 (synergise2.Rmd)
Error in parse(text = x, srcfile = src) : <text>:6:71: unexpected ']'
5: if (!is.na(selCommon)) {
6:   common <- fragmentMatchingStats$unique[selCommon, c("ncommon", "fdr"]
                                                                         ^

the code and data are i

[2016-12-08 15:20] sgibb commented on #129
sry, copy&paste error, fixed

[2016-12-08 15:20] #129 closed

[2016-12-13 12:38] pavel-shliaha commented on #97
The problem has become more severe recently with synergise2. It is impossible to run synergise2 more than once before I get the following message:

Quitting from lines 147-147 (synergise2.Rmd)
 Show Traceback

 Rerun with Debug
 Error: cannot allocate vector of size 2.5 Gb In addition: Warning message:
In dir.create(outputdir) :
  'Y:\RAW\pvs22\_QTOF_DATA_data3\synapter2paper\kuharev2015\synapter2

[2016-12-13 23:22] sgibb opened #130 "flowchart of synergise2"
to be integrated into #124

[2016-12-14 17:31] pavel-shliaha commented on #130
Hey guys I suggest the following new figure based on what we had previously:

![image](https://cloud.githubusercontent.com/assets/1895805/21193153/84f9f786-c22b-11e6-8d19-59d8f39d135f.png)

please comment on this suggestion

[2016-12-22 19:06] sgibb commented on #130
What about the following (we can discuss color, shape etc.)?
[code]
![dot](https://cloud.githubusercontent.com/assets/1828443/21437054/eb0fc7d8-c881-11e6-80c3-de0fbac59be6.png)

[2016-12-25 10:24] sgibb commented on #97
Unfortunately I can't test this currently. My laptop has not enough RAM and R was killed in the grid search (I currently testing with a large swapfile on my external harddisk) and *molerat* doesn't provide an X11 interface and the generation of png stops the whole `synergise2`. But the pep3d file has 4.8-5.5 Gb, the Spectrum.xml file 2-4 Gb, so I am not suprised that synpater needs 16 Gb because w

[2016-12-25 14:20] pavel-shliaha commented on #97
Hey sebastian,

sorry for not explaining the problem cleaer. The problem is not that an instance of running synapter takes up memory. That is smth I would understand. The problem is once synapter is run it leaves smth back in the memory, even if I call gc(). E.g. I call synergise2 once after it has been run and gc() has been done R still consumes 12gb of memory!

So as a result the problem is not

[2016-12-26 09:48] sgibb commented on #97
Ok, I indeed understood it wrong. Regarding multiple synapter runs I am afraid we have to live with the memory problem (at least under Windows). I am not very familiar with the memory management and garbage collection in R on Windows. But according to (the quite old) answers on stack overflow we can't do anything but restart R:
- http://stackoverflow.com/questions/1358003/tricks-to-manage-the-avai

[2016-12-26 16:16] pavel-shliaha commented on #97
can we at least make it so the problem is less severe with synergise2

I mean the pipeline when ran command by command runs out of memory much less severely, than synergise.

[2016-12-26 16:20] pavel-shliaha commented on #130
wow looks great! Can we have a different color for the nodes that are new? E.g. green?

[2016-12-26 16:55] sgibb commented on #130
Of course. Would we publish in a journal that allows colours? If yes we could use even more colours than just for highlighting the new parts.

[2016-12-26 23:32] lgatto commented on #130
My suggestion is to prepare the way we want, publish it in the vignette, and then, in the journal, re-use it from the vignette *with permission*.

[2017-01-10 18:44] sgibb commented on #130
What about:
[code]
![dot](https://cloud.githubusercontent.com/assets/1828443/21819665/f0becb1c-d76c-11e6-9845-51b50018b106.png)

Or is this too much?
(I didn't manage to align the *white* rectangles. Seems to be complicated in `dot`.)
Or:
![dot](https://cloud.githubusercontent.com/assets/1828443/21819726/2c276812-d76d-11e6-90f8-4a82f89666ac.png)

[2017-01-10 18:48] pavel-shliaha commented on #130
looks very nice. However we need also another flowchart with what happens after the filtering. I would suggest three more boxes right below the main one:

1) data aggregation (dark green)
2) synapter PLGS consensus filtering (light green)
3) detector saturation correction (light green)

[2017-01-10 20:59] sgibb commented on #130
![dot](https://cloud.githubusercontent.com/assets/1828443/21824518/0e1a133e-d780-11e6-9cec-a2f1b5312782.png)

[2017-01-10 21:14] pavel-shliaha commented on #130
thats perfect

[2017-01-16 20:18] sgibb commented on #97
I run the following example multiple times on linux and there were not any *"out of memory" errors* nor any difference in the resulting objects (regarding size and content):
[code]

[2017-01-16 20:20] pavel-shliaha commented on #97
let me try to run it on windows and I will report back to you.

[2017-01-16 20:30] sgibb commented on #79
@lgatto do you prefer a different NEWS format for synapter as well (c.f. MSnbase/NEWS.md)?

[2017-01-16 21:01] lgatto commented on #79
Yes, so that the news are displayed properly when we create a `pkgdown` site for the package.

[2017-01-17 08:57] sgibb commented on #79
done: https://github.com/lgatto/synapter/blob/2.0/NEWS.md

[2017-01-17 08:57] #79 closed

[2017-01-17 12:06] sgibb commented on #123
Using `compress="xz"` reduce the file size to nearly the half of the default gzip compression:
[code]
[code]

[2017-01-17 13:05] #130 closed

[2017-01-17 13:07] sgibb opened #132 "create docs/ directory with pkgdown"
Depends #123, #124.

[2017-01-17 13:39] sgibb commented on #122
Just FYI the class version is `2.0.0` since https://github.com/lgatto/synapter/commit/e0d5f9c04449fdeeaae5b13f639313ee7e2c7dd3

[2017-01-18 23:26] sgibb opened #133 "Which default value for `IisL`?"
`IisL` controls whether Isoleucine and Leucine are treated as equal or independent. Currently we have different defaults:

-  `createUniquePeptideDbRds`: `FALSE`
- `filterUniqueDbPeptides`/`filterUniqueDbPeptides{Quant/Ident}`: `FALSE`
- `makeMaster`: `FALSE`
- `synergise1`: `FALSE`
- `synergise2`: `TRUE`

Should we change `IisL` in `synergise2` into `FALSE` as well?

(for `synergise1` `FALSE` is

[2017-01-19 10:05] lgatto commented on #133
Consistency is key, so I would vote for yes.

[2017-01-19 10:06] pavel-shliaha commented on #133
I would vote no. Perhaps go the other way round and change IisL to TRUE in synergise1?

[2017-01-19 10:09] lgatto commented on #133
Fine by me, as long as we are consistent. It will be important to document this change in the respective man pages.

[2017-01-19 11:27] sgibb commented on #133
If we have a peptide `xxxIR` and `xxxLR` the `createUniquePeptideDb` will do the following:

- If `IisL = FALSE` `xxxIR` and `xxxLR` are treated as unique and stored in the resulting database.
- If `IisL = TRUE` `xxxIR` and `xxxLR` are treated as identical and are both removed (none of them in the database.

That's part of the documentation. It is a new synapter 2.0 feature. That's why the default

[2017-01-22 13:28] pavel-shliaha commented on #133
1) Sorry Sebastian, I did not get it at first. I vote for the option that preserves xxxIR and xxxLR when applying the createUniquePeptideDb(). From your explanation I understand that this option is IisL=FALSE. If this is correct then lets have it at FALSE.

2) please apply the same logic to master construction

[2017-01-22 16:57] sgibb commented on #97
Ok, I run the whole analysis on *molerat* now (unfortunately with `IisL = TRUE` so I have to rerun it). Please note that I never call `rm(...)` or `gc()` manually. I could run all samples without restarting R and the whole process needs ~ 20 GB RAM (during RDS export it sometimes uses up to 25 GB; blue and green lines represent the RAM usage, purple line CPU usage, red vertical lines are synapter

[2017-01-22 17:16] #133 closed

[2017-01-22 22:03] pavel-shliaha commented on #97
I posted a question about the memory consumption on stackoverflow. Basically I wanted to know if there is a function in R which will open a new R session, execute functions inside it and then close it, which would solve our problem:

http://stackoverflow.com/questions/41791788/problems-with-r-memory-management-in-windows-can-i-restart-r-within-a-loop

It seems I am not the first to ask. Are you fa

[2017-01-22 22:11] sgibb commented on #97
As I mentioned a few posts above the question was asked many times on SO. This `refresh` function just restarts R and closes the current version. This won't help. In general: could it be that you Windows machine has not enough memory at all? As you see from my plot you would need at least 25 GB (with Windows GUI/RStudio and all this stuff 32 GB would better).

[2017-01-22 22:17] pavel-shliaha commented on #97
Yes but that's what I need dont I. I mean I can easily go through 1 analysis. Please note that I need to go through 10 analysis with Kuharev's dataset. I can go through each of them individually by closing R after every analysis, e.g.

Pavel runs analysis 1
Pavel closes R
Pavel runs analysis 2
Pavel closes R
....

this works

What does not work is

for (i in 1:10){
Pavel runs analysis 1
Pavel runs

[2017-01-22 22:31] sgibb commented on #97
I can't test it on Windows but something like the following could work (please note that you have to fill the `...` with the quantpep3d, spectrum, fragment and fasta files):
[code]

However that is not very clean and we could just run the analysis on *molerat* where it is working!

[2017-01-22 22:36] pavel-shliaha commented on #97
1) thanks for the code, I'll try it tomorrow
2) Sorry guys to be a pain, but I strongly believe that if there is a solution for windows we have to implement it into the package itself (perhaps as an argument to the function or as a very explicit explanation in the vignette?) I mean the vast majority of users are windows users and its kind of unfair to release smth that works only under Linux. Plea

[2017-01-23 10:22] lgatto commented on #97
@pavel-shliaha what are the specs of your machine (in particular RAM) and output of `sessionInfo()`? Please post as an issue.

[2017-01-25 14:21] lgatto commented on #97
FYI, I am running @sgibb's scripts (from molerat) on a Windows computer, to try to reproduce the problems.

[2017-01-25 22:34] pavel-shliaha commented on #97
Thanks, Laurent! Hopefully you can make this work so we have a solution for windows.

[2017-02-06 09:50] lgatto commented on #97
I have executed the `molerat:/disk1/sg777/synapter2paper/kuharev2015/synapter2`scripts provided by @sgibb on a Windows computer. I successfully ran the `synapter1` and `synapter2` analyses for `UDMSE`. Should I proceed with more?

[2017-02-06 10:12] pavel-shliaha commented on #97
Could you please elaborate on what was the configuration of the windows machine? In particular how much memory did it have?

[2017-02-06 10:17] lgatto commented on #97
64 bit OS, 32 GB RAM.

[2017-02-06 10:20] pavel-shliaha commented on #97
did you perhaps monitor the memory consumption? If so, did you observe a steady increase in consumed memory or did it peak as shown above in sgibb investigation and remained flat afterwards.

[2017-02-06 10:25] lgatto commented on #97
I didn't monitor RAM usage; it's a shared computer and it's painful enough already to use it occasionally. The memory went up quite a bit and most of it was used by R. I could re-run it more systematically (I ran the different analyses one by one and inadvertently restarted R at one point), but it would be useful to know exactly which ones seem to be the issue. Also, I used a recent R and updated

[2017-03-06 19:12] #97 closed

[2017-03-16 06:35] lgatto commented on #132
This will be done once everything is merged into master.

[2017-03-19 16:33] sgibb commented on #122
@lgatto:

remember, it evolved from repreated organic cutting and hacking until it
got small enough and still useful.
In both cases about, we need an updateObject method (see for example
here [1]) to be applied on any existing object. Having said that, I
haven't done (nor seen) this for references classes yet.
[1] https://github.com/lgatto/MSnbase/blob/master/R/methods-updateObjectTo.R

As stated

[2017-03-19 16:33] #122 closed

[2017-03-20 17:19] pavel-shliaha opened #134 "grid search bug"
In the LOPIMS dataset one of the analysis fails with the following problem:

[code]

In (function (..., deparse.level = 1)  :
  number of columns of result is not a multiple of vector length (arg 1)

I can then execute plotGrid(), but

`setBestGridParams (synapterAnalysis)`

produces the following error:

  attempt to set 'rownames' on an object with no dimensions

The code is in:

`Y:\RAW\pvs22\_

[2017-03-23 11:55] sgibb commented on #134
This happens for some `ppm == 20`. There seems to be a problem in summarising the results of the grid search:
[code]

[2017-03-23 12:05] sgibb commented on #134
Ok this always happens if a category with a lower index (a category on the left hand size) has zero matches and the next higher category has at least one match, e.g.
Category -2 (multiple mismatches): 0
Category -1 (one mismatch): 1 => warning in `searchGrid` and error later in `setBestGridParams`.

[2017-03-24 12:47] #134 closed

[2017-04-03 14:41] lgatto commented on #123
`synapterdata` version 1.13.1 (also pushed to Bioc right now, also available [here](http://proteome.sysbiol.cam.ac.uk/lgatto/synapter/synapterdata_1.13.1.tar.gz)) now has a new data `synobj3` which is equivalent to `synobj2`, but for `synapter` >= 1.99. See `inst/scripts/create_synobj3.R` for details.

@sgibb - sorry for taking so much time. Please close the issue if this works as needed.

[2017-04-03 22:44] sgibb commented on #123
Unfortunately it is not working:
[code]

We have to provide the fasta file in the package and a access function similar to `synapterTinyData`:
[code]
Sorry, I was not aware of this.

@lgatto Could you please add  `extdata/S.cerevisiae_Uniprot_reference_canonical_18_03_14.fasta` to `synapterdata`.
Should be `synobj3Data` be part of `synapter` or `synapterdata`?

I don't know who is using `synobj2`

[2017-04-04 08:34] lgatto commented on #123
New `synapterdata` version 1.13.2 with fasta and updated synobj2 (pushed to Bioc right now, and available [here](http://proteome.sysbiol.cam.ac.uk/lgatto/synapter/synapterdata_1.13.2.tar.gz)).

I think it's too big to come in the software package.
[code]

[2017-04-04 09:02] lgatto commented on #123
Added `synapterdata::synobj2Data` to version 1.13.2.

[2017-04-04 09:10] sgibb commented on #123
@lgatto sry, I should not code at night: `synobj2Data` is not working because `system.file(..., package="synapter")` has to be `system.file(..., package="synapterdata")`.

[2017-04-04 09:31] lgatto commented on #123
Shit yes, I should have spotted that, sorry. Will update now.

[2017-04-04 10:00] lgatto commented on #123
Done.

[2017-04-04 10:42] sgibb commented on #123
Thank you very much. Sorry for this inconvenience. Now `synapter` should build and pass `R CMD check` without warnings/errors (at least on my machine, a few NOTES because of two maintainer and usage of a few hidden `MSnbase` methods are still there).

How long do we need to wait for `synapterdata` 1.13.2 on bioconductor? (I thought we should have seen 1.13.1  today). Or do we upload `synapter` 1.9

[2017-04-04 11:28] lgatto commented on #123
Data packages are build only twice a week, Wednesday and Saturday, if I remember well.

I am fine for pushing `synapter` 1.99 without waiting. Merge whenever you a happy and I will push to Bioc svn. We should probably ask for you to get write access.

[2017-04-05 09:35] sgibb opened #135 "upload to bioc/merge conflicts"
@lgatto

I don't know whether write access is handle for each package separately (as Maintainer of `cleaver` I already have a svn account). But nevertheless IMHO it is not worth to ask for write access before the git transition.

I merge 2.0 into master and tried to the following to upload to bioc:
[code]

The large merge in git was already hard to do. I don't really understand why the whole stuff

[2017-04-05 09:37] sgibb commented on #123
You are right. Data packages are build on Wednesday. Now `synapter` 2.0 builds on travis! I already merged 2.0 into master. Regarding the bioc svn push please see #135.

[2017-04-05 09:37] #123 closed

[2017-04-05 09:38] #124 closed

[2017-04-05 09:38] #117 closed

[2017-04-05 09:51] lgatto commented on #135
That doesn't look good :-/. I will try later, when I have a stable connection.

[2017-04-05 10:22] sgibb commented on #132
@lgatto I generated the /docs directory with `pkgdown`. Could you please enable GithubPages for `synapter` and put the URL into the repository description.

[2017-04-05 16:23] #132 closed

[2017-04-05 17:52] #135 closed

[2017-04-06 15:29] sgibb commented on #132
@lgatto thanks! Could you please add https://lgatto.github.io/synapter/ to the description of the repository on github? Or do we want to put it into the `README.md`?

[2017-04-06 15:29] sgibb commented on #135
Great! Thanks a lot!

[2017-04-06 15:54] lgatto commented on #132
All done.

[2017-04-06 15:57] lgatto commented on #135
@sgibb - are you still working on the 2.0 branch? I think it's fine to do everything in the master branch now (and possibly even delete 2.0 to avoid any confusion).

[2017-04-06 19:19] sgibb commented on #135
removed

[2017-04-06 21:10] sgibb opened #136 "synapter 1.99 fails to build on bioc"
Dear @lgatto, it seems that some files for the vignette are missing. Could you please have a look:
https://bioconductor.org/checkResults/devel/bioc-LATEST/synapter/
[code]

[2017-04-07 06:46] lgatto commented on #136
Strange???
![2017-04-07-074600_771x322_scrot](https://cloud.githubusercontent.com/assets/384198/24788601/48da00cc-1b66-11e7-8de7-5ab2f7a66122.png)

[2017-04-07 07:01] lgatto commented on #136
These files are not copied into `inst/docs`, hence the error.

[2017-04-07 07:04] lgatto commented on #136
The files are currently duplicated, which is not nice. But I would prefer to have them in the `vignettes` directory, rather than (only) in `inst/doc`, but not sure how and why at the moment. Maybe renaming them `Rmd`, which will get them copied over?

[2017-04-07 19:48] sgibb commented on #136
I am not convinced that copying the to `inst/doc` or renaming them into `Rmd` will solve the problem. I am not sure why it fails on bioc because locally and on [travis](https://travis-ci.org/lgatto/synapter/builds/219336832) it builds without copying/renaming.

[2017-04-07 20:03] sgibb commented on #136
BTW it should be the same vignette setup as used in `MSnbase`.

[2017-04-07 20:10] lgatto commented on #136
I tested the above locally, which is why I ended up committing to Bioc.

[2017-04-07 20:34] lgatto commented on #136
I confirm that things check fine locally - no idea why/what on Bioc.

[2017-04-09 19:41] lgatto commented on #136
`1.99.0` now builds - probably something on their side. I won't do any change now, but we should remove the files in `inst/doc` in the new release (unless things break before). Let's close this issue after the release.

[2017-04-10 20:37] sgibb opened #137 "NEWS is old on bioc devel"
The NEWS file presented on https://bioconductor.org/packages/devel/bioc/html/synapter.html is the old one (`1.13.1`). Similar to `MSnbase` we replaced the NEWS file by a NEWS.md. Could you please run `make PKG=synapter NEWS`, set the header from "Changes in 1.99.0" to "Changes in 2.0" and upload to bioc?
(maybe the same needs to be done for `MSnbase` as well)

[2017-04-11 15:11] lgatto commented on #137
Thanks @sgibb. I will need to set up a hook to make sure that this doesn't happen anymore. Fro now, I have only kept `NEWS.md` in `synapter`, because the `NEWS` that was automatically generated still had the markdown markup for sections of level > 2. I guess that's an easy fix in `maker`, but I don't have time to check that now.

[2017-04-11 15:11] #137 closed

[2018-01-17 21:08] #136 closed

[2020-06-29 21:33] BaylorSci opened #138 "Not sure an issue"
I'm just playing around with MSe (and not HDMSe) data and was excited to find your package on R. However, as the latest progenesis release has integrated PLGS into so that it is no longer run separately, i was wondering if there were plans to update the vignette/package to account for this?

[2020-06-30 08:12] lgatto commented on #138
Unfortunately, we (the synapter authors) don't acquire any MSe data any more, nor de we collaborate with researchers that do. We aren't in a position (and don't plan) to make any changes to the package. If you would be willing to contribute an update or new documentation, we would be happy to consider it and help if necessary.

[2020-06-30 15:13] BaylorSci commented on #138
Many thanks for your quick reply. If you are not working with MSe data anymore, that makes sense. I am not sure i am proficient enough to contribute an update to the documentation, but maybe someone reading this in the future would be willing to take this on as i  know a lot of people do not like the rigidity of Progenesis. By any chance do you know if there are others working on MSe specific prot

[2020-06-30 16:06] lgatto commented on #138
Handling of raw data in `xcms` is likely relying on `MSnbase`, but I don't know how they convert it. This would unfortunately not be directly compatible with `synatper`.

[2022-08-31 02:59] hpages opened #139 "magick_image_trim() error when building fragmentmatching.Rmd vignette on Ubuntu 20.04.4 LTS"
Cher Laurent,

As you're probably aware the `fragmentmatching.Rmd` vignette in **synapter** has failed to build on Ubuntu 20.04.4 LTS for about a year now (or maybe more). See:
- https://bioconductor.org/checkResults/3.16/bioc-LATEST/synapter/nebbiolo2-buildsrc.html
- https://bioconductor.org/checkResults/3.15/bioc-LATEST/synapter/nebbiolo1-buildsrc.html
- https://bioconductor.org/checkResults/3.1

[2022-09-27 08:27] lgatto commented on #139
Hi @hpages - sorry, I missed your issue. Thank you very much for the detailed description of the issue. I think the easiest for now, to sort the longstanding issues, is to got with suggestion number 4, as I won't have to time to explore further. I'll commit right away.

ping @sgibb

[2022-09-29 04:31] #139 closed